<div layout="column"
     layout-align="center stretch"
     cg-busy="{promise:vm.createLoader, message:vm.dialog.loading, templateUrl:'app/mainApp/directives/loading.tmpl.html'}">
    <md-toolbar layout="row"
                layout-align="space-between center">
        <div layout-padding ng-if="vm.dialog.title" class="md-title">{{vm.dialog.title}}</div>
        <div layout-padding ng-if="!vm.dialog.title" class="md-title">Create element</div>
        <md-button class="md-icon-button"
                   ng-click="vm.cancel()"
                   aria-label="exit dialog">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="column"
                layout-padding
                layout-align="center stretch">
        <form name="createForm"
              ng-submit="vm.create(vm.objectToCreate)">
            <div layout="column"
                 layout-align="center stretch"
                 ng-repeat="field in vm.fields">
                <section ng-if="field['type']!=='fileUploader'
                         && field['type']!=='catalog'
                         && field['type']!=='options'
                         && field['type']!=='color'
                         && field['type']!=='array'">
                    <md-input-container layout="column" class="md-block">
                        <!--Field label selection depending on the parameters given-->
                        <label ng-if="field['label']">{{field['label']}}</label>
                        <label ng-if="!field['label']">{{field['model']}}</label>
                        <input ng-required="field.required"
                               aria-label="{{field['model']}}"
                               type="{{field.type}}"
                               name="{{field.model}}"
                               min="{{field.min}}"
                               max="{{field.max}}"
                               ng-pattern="field['validations'].regex"
                               ng-model="vm.objectToCreate[field.model]" />
                        <div ng-messages="createForm[field.model].$error">
                            <div ng-message="required">{{field.validations.errors.required}}</div>
                            <div ng-message="pattern">{{field.validations.errors.regex}}</div>
                        </div>
                        <div ng-if="field.hint"
                             class="create-field-hint">
                            {{field.hint}}
                        </div>
                    </md-input-container>
                </section>
                <section ng-if="field['type']==='color'">
                    <md-input-container class="md-block">
                        <!--Field label selection depending on the parameters given-->
                        <label ng-if="field['label']">{{field['label']}}</label>
                        <label ng-if="!field['label']">{{field['model']}}</label>
                        <input ng-required="field.required"
                               aria-label="{{field['model']}}"
                               type="color"
                               name="{{field.model}}"
                               ng-model="vm.objectToCreate[field.model]"
                               value="{{vm.objectToCreate[field.model]}}" />
                        <div ng-messages="createForm[field.model].$error">
                            <div ng-message="required">{{field.validations.errors.required}}</div>
                            <div ng-message="pattern">{{field.validations.errors.regex}}</div>
                        </div>
                        <div ng-if="field.hint"
                             class="create-field-hint">
                            {{field.hint}}
                        </div>
                    </md-input-container>
                </section>
                <section ng-if="field['type']==='fileUploader'"
                         layout="column">
                    <!--Field label selection depending on the parameters given-->
                    <label ng-if="field['label']">{{field['label']}}</label>
                    <label ng-if="!field['label']">{{field['model']}}</label>
                    <file-uploader file-formats="field['validations'].fileUploader.fileFormats"
                                   capture="field['validations'].fileUploader.capture"
                                   validations="field['validations'].fileUploader.validations"
                                   resize="field['validations'].fileUploader.resize"
                                   resize-if="field['validations'].fileUploader.resizeIf"
                                   max-dimensions="field['validations'].fileUploader.maxDimensions"
                                   multiple-files="field['validations'].fileUploader.multipleFiles"
                                   allow-folders="field['validations'].fileUploader.allowFolders"
                                   max-files="field['validations'].fileUploader.maxfiles"
                                   keep="field['validations'].fileUploader.keep"
                                   files-selected="vm.filesSelected(files, field)">
                    </file-uploader>
                </section>
                <section ng-if="field['type']==='options'">
                    <md-input-container class="md-block">
                        <!--Field label selection depending on the parameters given-->
                        <label ng-if="field['label']">{{field['label']}}</label>
                        <label ng-if="!field['label']">{{field['model']}}</label>
                        <md-select ng-model="vm.objectToCreate[field.model]"
                                   ng-required="field.required"
                                   md-on-close="vm.selectState()">
                            <md-option ng-repeat="option in field.options.elements"
                                       ng-value="field.options.model">
                                {{field.options.option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div ng-if="field.hint"
                         class="create-field-hint">
                        {{field.hint}}
                    </div>
                </section>
                <section ng-if="field['type']==='catalog'">
                    <section ng-if="field['catalog'].requires">
                        <catalog-select ng-if="$ctrl.objectToCreate[field['catalog'].requires]"
                                        required="field.required"
                                        catalog="field.catalog"
                                        pagination="field['catalog'].pagination"
                                        elements="field['catalog'].elements"
                                        soft-delete="field.softDelete"
                                        on-select="vm.onElementSelect(element,field)">
                        </catalog-select>
                        <div ng-if="field.hint"
                             class="create-field-hint">
                            {{field.hint}}
                        </div>
                    </section>
                    <section ng-if="!field['catalog'].requires">
                        <catalog-select catalog="field.catalog"
                                        required="field.required"
                                        pagination="field['catalog'].pagination"
                                        elements="field['catalog'].elements"
                                        soft-delete="field.softDelete"
                                        on-select="vm.onElementSelect(element,field)">
                        </catalog-select>
                        <div ng-if="field.hint"
                             class="create-field-hint">
                            {{field.hint}}
                        </div>
                    </section>
                </section>
                <section ng-if="field['type']==='array'">
                    <md-input-container layout="column" class="md-block">
                        <!--Field label selection depending on the parameters given-->
                        <label ng-if="field['label']">{{field['label']}}</label>
                        <label ng-if="!field['label']">{{field['model']}}</label>
                        <md-chips id="{{field['model']}}"
                                  ng-model="vm.objectToCreate[field.model]"
                                  ng-required="field.required"
                                  delete-button-label="Remove">
                            <input type="text"
                                   ng-model="vm.buffer"
                                   placeholder="+"
                                   ng-pattern="field['validations'].regex">
                        </md-chips>
                        <div ng-messages="createForm[field.model].$error">
                            <div ng-message="required">{{field.validations.errors.required}}</div>
                            <div ng-message="pattern">{{field.validations.errors.regex}}</div>
                        </div>
                        <div ng-if="field.hint"
                             class="create-field-hint">
                            {{field.hint}}
                        </div>
                    </md-input-container>
                </section>
            </div>
        </form>
    </md-content>

    <md-actions layout="row"
                layout-align="space-between center">
        <md-button ng-click="vm.cancel()"
                   aria-label="{{vm.dialog.cancelButton}}"
                   class="md-warn md-raised">
            <div layout="row" layout-align="center center">
                <md-icon md-font-icon="fa fa-close"></md-icon>
                <div ng-if="vm.dialog.cancelButton" hide-xs hide-sm>{{vm.dialog.cancelButton}}</div>
                <div ng-if="!vm.dialog.cancelButton" hide-xs hide-sm>Cancel</div>
            </div>
        </md-button>
        <md-button ng-click="vm.create(vm.objectToCreate)"
                   ng-disabled="createForm.$invalid"
                   aria-label="{{vm.dialog.okButton}}"
                   class="md-primary md-raised">
            <div layout="row" layout-align="center center">
                <md-icon md-font-icon="fa fa-save"></md-icon>
                <div ng-if="vm.dialog.okButton" hide-xs hide-sm>{{vm.dialog.okButton}}</div>
                <div ng-if="!vm.dialog.okButton" hide-xs hide-sm>Ok</div>
            </div>
        </md-button>
    </md-actions>
</div>
