<md-card class="full-width"
         layout-padding
         layout="column"
         laoyut-align="center-stretch">
    <header layout="column" layout-align="center center">
        <h1 translate>ENTRIES.LIST.TITLE</h1>
    </header>
    <div layout="row"
         layout-align="space-around center"
         layout-wrap="">
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'new-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('new-entries')">
            <span translate>ENTRIES.LIST.FILTERS.NEW</span>
            <div class="new-entries entries-filter"></div>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'repair-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('repair-entries')">
            <span translate>ENTRIES.LIST.FILTERS.REPAIR</span>
            <div class="repair-entries entries-filter"></div>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'unrecognizble-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('unrecognizable-entries')">
            <span translate>ENTRIES.LIST.FILTERS.UNRECOGNIZABLE</span>
            <div class="unrecognizable-entries entries-filter"></div>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'warehouse-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('warehouse-entries')">
            <span translate>ENTRIES.LIST.FILTERS.WAREHOUSE</span>
            <div class="warehouse-entries entries-filter"></div>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'warranty-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('warranty-entries')">
            <span translate>ENTRIES.LIST.FILTERS.WARRANTY</span>
            <div class="warranty-entries entries-filter"></div>
        </div>
        <div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.entryKindFilter === 'all-entries') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('all-entries')">
            <span translate>ENTRIES.LIST.FILTERS.ALL</span>
            <div class="all-entries entries-filter"></div>
        </div>
    </div>
</md-card>
<section cg-busy="{promise:vm.loadingEntries, message:' ',  templateUrl:'app/mainApp/directives/loading.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
    <md-card 
             ng-repeat="entry in vm.entries">
        <md-toolbar layout-gt-xs="row"
                    layout-align-gt-xs="space-between center"
                    layout="column"
                    layout-align="center center"
                    layout-padding>
            <span>
                <strong translate="">ENTRIES.LIST.LABELS.ID</strong>
                {{entry.id}}
            </span>
            <div ng-if="entry.tipo_entrada==='Nuevos'" class="new-entries entries-filter"></div>
            <div ng-if="entry.tipo_entrada==='Reparacion'" class="repair-entries entries-filter"></div>
            <div ng-if="entry.tipo_entrada==='No_Capitalizados'" class="unrecognizable-entries entries-filter"></div>
            <div ng-if="entry.tipo_entrada==='Almacen'" class="warehouse-entries entries-filter"></div>
            <div ng-if="entry.tipo_entrada==='Garantias'" class="warranty-entries entries-filter"></div>
            <span>
                <strong translate="">ENTRIES.LIST.LABELS.KIND</strong>
                {{entry.tipo_entrada}}
            </span>
        </md-toolbar>
        <section>
        entry info
        </section>
        <md-actions>actions</md-actions>
    </md-card>
</section>
