<md-card class="full-width" layout-padding layout="column" laoyut-align="center-stretch">
    <header layout="column" layout-align="center center">
        <h1 translate>ENTRIES.LIST.TITLE</h1>
    </header>
    <div class="full-width" layout="column" layout-gt-xs="row" layout-align="center center"
        layout-align-gt-xs="space-around center">
        <md-input-containter layout-padding class="md-block">
            <label>{{'ENTRIES.LIST.LABELS.START_DATE'|translate}}</label>
            <input type="text" ng-model="vm.startDate" mdc-datetime-picker="" time="false" date="true"
                min-date="minDate" max-date="maxDate" lang="es" ng-change="vm.startDateChange()" class=" md-input">
        </md-input-containter>
        <md-input-containter layout-padding class="md-block">
            <label>{{'ENTRIES.LIST.LABELS.END_DATE'|translate}}</label>
            <input type="text" ng-model="vm.endDate" mdc-datetime-picker="" time="false" date="true"
                min-date="vm.startDate" max-date="maxDate" lang="es" ng-change="vm.endDateChange()" class=" md-input">
        </md-input-containter>
    </div>
    <div layout="row" layout-align="center center" ng-if="vm.showSelector">
        <p>{{'ENTRIES.LIST.LABELS.SWITCH.LABEL'|translate}}</p>
        <md-switch ng-model="vm.entryToAgency" ng-change="vm.changeSwitch()">
            <!--<p ng-if="vm.entryFromAgency">{{'ENTRIES.NEW.LABELS.SWITCH.TRUE'|translate}}</p>
                    <p ng-if="!vm.entryFromAgency">{{'ENTRIES.NEW.LABELS.SWITCH.FALSE'|translate}}</p>-->
        </md-switch>
    </div>
    <div layout="column" layout-gt-xs="row" layout-align-gt-xs="space-around center" layout-align="center stretch">
        <catalog-select class="full-width" ng-if="(!vm.entriesToAgency && vm.showSelector)||vm.subsidiaryAdmin"
            catalog="vm.catalogues['subsidiary'].catalog" hint="vm.catalogues['subsidiary'].hint"
            icon="vm.catalogues['subsidiary'].icon" required="vm.catalogues['subsidiary'].required"
            on-select="vm.onDestinationSelect(element,vm.catalogues['subsidiary'].binding)">
        </catalog-select>
        <catalog-select class="full-width" ng-if="(vm.entriesToAgency && vm.showSelector)||vm.agencyAdmin"
            catalog="vm.catalogues['udn'].catalog" hint="vm.catalogues['udn'].hint" icon="vm.catalogues['udn'].icon"
            required="vm.catalogues['udn'].required"
            on-select="vm.onDestinationSelect(element,vm.catalogues['udn'].binding)">
        </catalog-select>
    </div>
    <div ng-if="vm.startDate" layout="row" layout-align="space-around center" layout-wrap="">
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'new-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('new-entries')">
            <span translate>ENTRIES.LIST.FILTERS.NEW</span>
            <div class="new-entries selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'repair-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('repair-entries')">
            <span translate>ENTRIES.LIST.FILTERS.REPAIR</span>
            <div class="repair-entries selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'unrecognizble-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('unrecognizable-entries')">
            <span translate>ENTRIES.LIST.FILTERS.UNRECOGNIZABLE</span>
            <div class="unrecognizable-entries selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'warehouse-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('warehouse-entries')">
            <span translate>ENTRIES.LIST.FILTERS.WAREHOUSE</span>
            <div class="warehouse-entries selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'warranty-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('warranty-entries')">
            <span translate>ENTRIES.LIST.FILTERS.WARRANTY</span>
            <div class="warranty-entries selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.entryKindFilter === 'all-entries') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('all-entries')">
            <span translate>ENTRIES.LIST.FILTERS.ALL</span>
            <div class="all-entries selectable-filter"></div>
        </div>
    </div>
    <div ng-if="vm.entries.length">
        <p>{{'ENTRIES.LIST.LABELS.ENTRIES_QUANTITY'|translate}} {{vm.entries.length}}</p>
        <p>{{'ENTRIES.LIST.LABELS.TOTAL_ASSET_QUANTITY'|translate}} {{vm.assetsQuantity}}</p>
    </div>
</md-card>
<section
    cg-busy="{promise:vm.loadingEntries, message:' ',  templateUrl:'app/mainApp/directives/loading.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
    <md-card ng-if="!vm.entries.length && vm.startDate && vm.entryKindFilter">
        <strong translate>ENTRIES.LIST.LABELS.NO_RESULTS</strong>
    </md-card>
    <md-card ng-if="vm.entries.length" ng-click="vm.navigateToDetail(entry)" ng-repeat="entry in vm.entries">
        <md-toolbar layout-gt-xs="row" layout-align-gt-xs="space-between center" layout="column"
            layout-align="center center" layout-padding>
            <span>
                <strong translate="">ENTRIES.LIST.LABELS.ID</strong>
                {{entry._id}}
            </span>
            <div ng-if="entry.tipo_entrada==='Nuevos'" class="new-entries selectable-filter"></div>
            <div ng-if="entry.tipo_entrada==='Punto de venta'" class="repair-entries selectable-filter"></div>
            <div ng-if="entry.tipo_entrada==='No capitalizados'" class="unrecognizable-entries selectable-filter"></div>
            <div ng-if="entry.tipo_entrada==='Buen estado'" class="warehouse-entries selectable-filter"></div>
            <div ng-if="entry.tipo_entrada==='Garantías'" class="warranty-entries selectable-filter"></div>
            <span>
                <strong translate="">ENTRIES.LIST.LABELS.KIND</strong>
                {{entry.tipo_entrada}}
            </span>
        </md-toolbar>
        <section layout="column" layout-align="center center">
            <!--Open or closed entry-->
            <span ng-if="!entry.cerrada">
                <md-icon md-font-icon="fa fa-lock-open"></md-icon>
                <span translate>ENTRIES.LIST.LABELS.OPEN</span>
            </span>
            <span ng-if="entry.cerrada">
                <md-icon md-font-icon="fa fa-lock"></md-icon>
                <span translate>ENTRIES.LIST.LABELS.CLOSED</span>
            </span>

            <span ng-if="entry.fecha_hora">
                <strong translate>ENTRIES.LIST.LABELS.DATE</strong>
                <span>{{entry.fecha_hora | amDateFormat:'DD/MM/YYYY hh:mm:ss a'}}</span>
            </span>
            <span ng-if="entry.pedimento" layout-margin>
                <strong translate>ENTRIES.LIST.LABELS.ORDER</strong>
                <span>{{entry.pedimento}}</span>
            </span>
            <!--Asset quantity section-->
            <section layout="row" layout-align="space-around center">
                <span flex ng-if="entry.cabinets" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.ASSET_QUANTITY</strong>
                    <span>{{entry.cabinets.length}}</span>
                </span>
            </section>
            <!--Transport section-->
            <section layout="row" layout-align="space-around center">
                <span flex="33" ng-if="entry.operador_transporte" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.DRIVER</strong>
                    <span>{{entry.operador_transporte.nombre}}</span>
                </span>
                <span flex="33" ng-if="entry.nombre_chofer" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.DRIVER</strong>
                    <span>{{entry.nombre_chofer}}</span>
                </span>
                <span flex="33" ng-if="entry.tipo_transporte" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.TRANSPORT_LINE</strong>
                    <span>{{entry.tipo_transporte.linea_transporte.razon_social}}</span>
                </span>
                <span flex="33" ng-if="entry.operador_transporte&&!entry.tipo_transporte" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.TRANSPORT_LINE</strong>
                    <span>{{entry.operador_transporte.linea_transporte.razon_social}}</span>
                </span>
                <span flex="33" ng-if="entry.tipo_transporte" layout-padding>
                    <strong translate>ENTRIES.LIST.LABELS.TRANSPORT_KIND</strong>
                    <span>{{entry.tipo_transporte.descripcion}}</span>
                </span>
            </section>
        </section>
        <section layout="row" layout-align="space-around center">
            <div>
                <!--Origin section-->
                <span ng-if="entry.establecimiento_origen" layout-margin>
                    <strong translate>ENTRIES.LIST.LABELS.ORIGIN_STORE</strong>
                    <span>{{entry.establecimiento_origen.nombre_establecimiento}}</span>
                </span>
                <span ng-if="entry.proveedor_origen" layout-margin>
                    <strong translate>ENTRIES.LIST.LABELS.ORIGIN_PROVIDER</strong>
                    <span>{{entry.proveedor_origen.razon_social}}</span>
                </span>
                <span ng-if="entry.udn_origen" layout-margin>
                    <strong translate>ENTRIES.LIST.LABELS.ORIGIN_AGENCY</strong>
                    <span>{{entry.udn_origen.agencia}}</span>
                </span>
            </div>
            <div>
                <!--Destination section-->
                <span ng-if="entry.sucursal_destino" layout-margin>
                    <strong translate>ENTRIES.LIST.LABELS.DESTINATION_SUBSIDIARY</strong>
                    <span>{{entry.sucursal_destino.nombre}}</span>
                </span>
                <span ng-if="entry.udn_destino" layout-margin>
                    <strong translate>ENTRIES.LIST.LABELS.DESTINATION_AGENCY</strong>
                    <span>{{entry.udn_destino.agencia}}</span>
                </span>
            </div>
        </section>
        <span ng-if="entry.descripcion" layout-margin>
            <strong translate>ENTRIES.LIST.LABELS.DESCRIPTION</strong>
            <span>{{entry.descripcion}}</span>
        </span>
        <md-actions layout="row" layout-align="end center">
            <!--Allow to generate the document just if the entry is closed-->
            <md-button aria-label="download document button" ng-click="$event.stopPropagation(); vm.generatePDF()"
                ng-if="entry.cerrada" disabled class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-file-pdf"></md-icon>
                <span hide-xs>{{"ENTRIES.LIST.BUTTONS.PDF"|translate}}</span>
            </md-button>
            <!--Allow to generate the excel document at anytime-->
            <md-button aria-label="download document button" cg-busy="{promise:vm.generateReportPromise, message:' '}"
                ng-click="$event.stopPropagation(); vm.generateXLSX(entry._id)" class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-file-excel"></md-icon>
                <span hide-xs>{{"ENTRIES.LIST.BUTTONS.XLSX"|translate}}</span>
            </md-button>
        </md-actions>
    </md-card>
</section>
<section ng-if="vm.paginationHelper.totalPages>vm.paginationHelper.page" layout="column" layout-align="center center">
    <md-button aria-label="Load more elements button" cg-busy="{promise:vm.loadingMoreEntries, message:' '}"
        ng-click="$event.stopPropagation(); vm.loadMore()" class="md-primary md-raised">
        <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
        <span hide-xs>{{"ENTRIES.LIST.BUTTONS.LOAD_MORE"|translate}}</span>
    </md-button>
</section>