
<md-card layout="row" layout-wrap="">
    <search-cabinet-step flex="100" info-gral="vm.infogral(element)"></search-cabinet-step>
    <start-service  flex="100" ng-if="vm.asset" on-start="vm.onStart(element)"></start-service>
    <show-info-cabinet asset="vm.asset" ng-if="vm.asset" flex="50"></show-info-cabinet>
    <show-info-cabinet asset="vm.asset" ng-if="vm.asset" flex="50"></show-info-cabinet>
    <bulk-asset  flex-gt-md="50" flex="100" max_stock="vm.maxStock" bulk-asset="vm.bulk" sucursal="vm.sucursal" on-select="vm.onElementSelect(element)"></bulk-asset>
    <bulk-asset  flex-gt-md="50" flex="100" max_stock="vm.maxStock" bulk-asset="vm.bulk" sucursal="vm.sucursal" on-select="vm.onElementSelect(element)"></bulk-asset>
    <symptom-manager flex="100"></symptom-manager>
    <actions-manager flex="100"></actions-manager>
</md-card>
