<div layout="column"
     layout-align="center stretch">
    <md-toolbar layout="row"
                layout-align="space-between center">
        <div layout-padding class="md-title">
            <span>{{'INPUT.Dialogs.Cabinet.Title'|translate}}</span>
        </div>
        <md-button class="md-icon-button"
                   ng-click="vm.cancel()"
                   aria-label="cancel">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </md-toolbar>
    <md-content layout="column"
                layout-padding
                layout-align="center stretch">
        <form name="newcabinetFrom" ng-if="vm.clear">
            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.ECONOMIC</label>
                    <input name="economico" required digits-only MAXLENGTH="20" ng-model="vm.economico"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.SERIAL</label>
                    <input name="serial" maxlength="25"
                           ng-pattern="/^[a-zA-Z0-9]+$/" required ng-model="vm.no_serie"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="pattern">
                            {{'MAIN.LABEL.ALFANUMERIC'|translate}}
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.YEAR</label>
                    <input name="economico" required digits-only MAXLENGTH="4" ng-model="vm.year"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.ACTIVE_UNILEVER</label>
                    <input name="serial" maxlength="25"
                           ng-pattern="/^[a-zA-Z0-9]+$/" required ng-model="vm.id_unilever"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="pattern">
                            {{'MAIN.LABEL.ALFANUMERIC'|translate}}
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <catalog-select catalog="vm.catalogues['marca'].catalog"
                                    required="true"
                                    pagination="vm.catalogues['marca'].pagination"
                                    elements="vm.catalogues['marca'].elements"
                                    soft-delete="vm.catalogues['marca'].softDelete"
                                    on-select="vm.onBrandSelect(element)">
                    </catalog-select>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <catalog-select ng-if="vm.marca"
                                    catalog="vm.catalogues['modelo_by_marca'].catalog"
                                    required="true"
                                    lazy="true"
                                    pagination="vm.catalogues['modelo_by_marca'].pagination"
                                    elements="vm.catalogues['modelo_by_marca'].elements"
                                    soft-delete="vm.catalogues['modelo_by_marca'].softDelete"
                                    on-select="vm.onElementSelect(element,'modelo_id')">
                    </catalog-select>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <catalog-select catalog="vm.catalogues['condicion'].catalog"
                                    required="true"
                                    pagination="vm.catalogues['condicion'].pagination"
                                    elements="vm.catalogues['condicion'].elements"
                                    soft-delete="vm.catalogues['condicion'].softDelete"
                                    on-select="vm.onElementSelect(element,'condicion_id')">
                    </catalog-select>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <catalog-select catalog="vm.catalogues['status_unilever'].catalog"
                                    required="true"
                                    pagination="vm.catalogues['status_unilever'].pagination"
                                    elements="vm.catalogues['status_unilever'].elements"
                                    soft-delete="vm.catalogues['status_unilever'].softDelete"
                                    on-select="vm.onElementSelect(element,'estatus_unilever_id')">
                    </catalog-select>
                </md-input-container>
            </div>

            <div flex="50" layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <catalog-select catalog="vm.catalogues['status_com'].catalog"
                                    required="true"
                                    pagination="vm.catalogues['status_com'].pagination"
                                    elements="vm.catalogues['status_com'].elements"
                                    soft-delete="vm.catalogues['status_com'].softDelete"
                                    on-select="vm.onElementSelect(element,'estatus_com_id')">
                    </catalog-select>
                </md-input-container>
            </div>
        </form>

    </md-content>
    <md-actions layout="row"
                layout-align="space-between center">
        <md-button ng-click="vm.cancel()"
                   aria-label="{{'INPUT.Cancel'|translate}}"
                   class="md-warn md-raised">
            <div layout="row" layout-align="center center">
                <md-icon md-font-icon="fa fa-close"></md-icon>
                {{'INPUT.Cancel'|translate}}
            </div>
        </md-button>
        <md-button ng-click="vm.create()"
                   cg-busy="{ promise:vm.createPromise, message:' ' }"
                   ng-disabled="cabinetForm.$invalid"
                   aria-label="{{'INPUT.Save'|translate}}"
                   class="md-primary md-raised">
            <div layout="row" layout-align="center center">
                <md-icon md-font-icon="fa fa-save"></md-icon>
                {{'INPUT.Save'|translate}}
            </div>
        </md-button>
    </md-actions>
</div>
