<md-card layout="row"
         layout-align="start center">
    <div class="margin-right-20">
        <img class="make-round avatar"
             src="{{vm.user.foto!=null?vm.user.foto:'assets/images/user.png'}}"
             width="100" height="100" />
    </div>
    <div>
        <h3>
            {{vm.user.nombre}}
            {{vm.user.apellido_paterno}}
            {{vm.user.apellido_materno}}
        </h3>
        <div layout="row">
            <md-icon md-font-icon="zmdi zmdi-pin color-inherit"></md-icon>
            <div ng-if="vm.user.sucursal">
                {{'WELCOME.SUBSIDIARY'|translate}}:
                {{vm.user.sucursal.nombre}}
            </div>
            <div ng-if="vm.user.udn">
                {{'WELCOME.AGENCY'|translate}}:
                {{vm.user.udn.agencia}}
            </div>
            <div ng-if="vm.user.establecimiento">
                {{'WELCOME.STORE'|translate}}:
                {{vm.user.establecimiento.nombre}}
            </div>
            <div ng-if="!vm.user.sucursal && !vm.user.udn">
                {{'WELCOME.NO_LOCATION'|translate}}
            </div>
        </div>
    </div>
</md-card>
