<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'MAIN.MENU.PREREQUESTS.LISTPV'|translate}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content
        layout="column"
        layout-align="center stretch"
        layout-padding
    >

        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.todos" ng-click="$ctrl.info(item)">
            <img ng-src="{{item.qr_code}}" class="md-avatar" alt="{{item.economico}}" />
            <div class="md-list-item-text" layout="column">
                <h2>Economico: {{ item.economico }}</h2>
                <h3>Modelo: {{ item.modelo.nombre }}</h3>
                <h4>Número de Serie: {{ item.no_serie }}</h4>
                <p>Activo: {{ item.activo }}</p>
            </div>
        </md-list-item>

    </md-content>
</div>
