<div>
    <div flex="100">
        <div layout="row" class="grayclass" layout-align="center center">
            <div flex="10" class="subtitleIcon" layout="row" layout-align="center center">
                <md-icon md-font-icon="fas fa-sign-out-alt"></md-icon>
            </div>
            <div flex="" class="nextStep" layout-align="center start" layout="column">
                <div layout="row" >&nbsp;<b translate="">NEXT_STEP.NEXT_STEP</b><b>{{'Diagnostico'}}</b></div>
                <div layout="row">
                    &nbsp;
                    <md-checkbox ng-model="$ctrl.edit_next_step">
                        <b class="md-caption" ng-if="$ctrl.edit_next_step" translate="">NEXT_STEP.EDIT_NEXT_STEP</b>
                        <b class="md-caption" ng-if="!$ctrl.edit_next_step" translate="">NEXT_STEP.NOT_EDIT</b>
                    </md-checkbox>
                </div>
            </div>
            <md-input-container class="nextStep" flex="45" ng-if="$ctrl.edit_next_step" layout="row" layout-align="end center">
                <label translate=""></label>
                <md-select layout-fill="" ng-model="$ctrl.nextStepSelected">
                    <md-option ng-repeat="step in $ctrl.steps" layout-padding="">
                        <md-icon  md-font-icon="fas fa-bezier-curve"></md-icon>
                        <b>{{step.nombre}}</b>-<span class="md-caption">{{step.tipo_etapa}}</span>
                    </md-option>
                </md-select>
            </md-input-container>

        </div>
    </div>
</div>
