<md-card>
    <div>
        <create-cabinet to-refresh="vm.aRefresh()"></create-cabinet>
    </div>
</md-card>

<md-card ng-if="!vm.todosprev">
    <div>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
</md-card>
<md-card ng-if="vm.todosprev">
    <div id="list">
        <list-cabinet todosex="vm.todos"
                      up="vm.aRefresh()"
                      todosprev2="vm.todosprev"
                      filter-data="vm.filterList(economicFilter)"
                      text-search-filter="vm.textToSearch"></list-cabinet>
    </div>
</md-card>

<div ng-if="vm.refreshPaginationButtonsComponent">
    <pagination-manager-buttons go-sig="vm.sig()"
                                go-prev="vm.prev()"
                                go-number="vm.goToNumberPage(number)"
                                limit-objects="vm.limit"
                                count-object="vm.objectPaginado.count"
                                offset-object="vm.offset"
                                nex-object="vm.objectPaginado.next"
                                prev-object="vm.objectPaginado.previous">
    </pagination-manager-buttons>
</div>
