div.Improductiva {
  background-color: #a705ed;
  border: 1px solid #a705ed;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

div.open-requests {
  background-color: #0AF;
}

div.closed-requests {
  background-color: #0A0;
}

div.cancelled-requests {
  background-color: #F00;
}

div.in-process-requests {
  background-color: #AAA;
}

div.assigned-requests {
  background-color: #FA0;
}

div.all-requests {
  background-color: #FFF;
}

div.requests-filter {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 100px;
}

div.SelectedList {
  border: 1px solid #b3b0b3;
  border-radius: 5px;
}

.virtualRepeatScroll-100{
  max-height: 100px;
  width: 100%;
  overflow-y: auto;
}

.virtualRepeatScroll-200{
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}

.virtualRepeatScroll-300{
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.virtualRepeatScroll-400{
  max-height: 400px;
  width: 100%;
  overflow-y: auto;
}

.virtualRepeatScroll-500{
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}

.virtualRepeatScroll-600{
  max-height: 600px;
  width: 100%;
  overflow-y: auto;
}
