<div layout="column" layout-align="center center">
    <form name="searchCabinetStorage" ng-submit="$ctrl.search_asset()">
        <div layout="row" layout-padding="">
            <md-input-container>
                <label translate="">STORAGE.ASSET_ID</label>
                <input type="text" ng-model="vm.asset_id" required md-maxlength="12">
            </md-input-container>
            <md-input-container>
                <md-button class="md-fab md-primary md-hue-2" ng-click="$ctrl.search_asset()" aria-label="Profile">
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                </md-button>
            </md-input-container>
        </div>
    </form>
</div>

