.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 200px;
  text-align: center;
  padding-top:86px;
  margin: 10px;
  color:#DDD;
  font-size:18px;
}
.dragover {
  border: 5px dashed blue;
  background: #DDDDFF;
  color: #0000FF
}
.uploaded-file{
  height:200px;
  width:200px;
  max-height:200px;
  max-width:200px;
  box-shadow: 0px 0px 5px #000000
}
.file-thumb{
  max-height:80px;
  max-width:180px;
  height:auto;
  width:auto;
}
.file-name{
  white-space: nowrap;
  width:200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
