<div layout="column"
     layout-align="center center"
>
    <div layout="column"
         layout-align="center center"
         ng-hide="($ctrl.files.length && !$ctrl.multipleFiles)||($ctrl.files.length == $ctrl.maxFiles)">
        <div class="drop-box"
             ng-model="$ctrl.files"
             ngf-drop="$ctrl.dropFiles($files)"
             ngf-drag-over-class="'dragover'"
             accept="{{$ctrl.fileFormats}}"
             ngf-pattern="{{$ctrl.fileFormats}}"
             ngf-validate="$ctrl.validations"
             ngf-resize="$ctrl.resize"
             ngf-resize-if="$ctrl.resizeIf"
             ngf-dimensions="$ctrl.maxDimensions"
             ngf-duration="$ctrl.maxDuration"
             ngf-max-files="$ctrl.maxFiles"
             ngf-multiple="$ctrl.multipleFiles"
             ngf-keep="{{$ctrl.keep}}"
             ngf-allow-dir="$ctrl.allowFolders">

            <span ng-if="$ctrl.multipleFiles">{{'MAIN.COMPONENTS.FILE_UPLOADER.LABELS.MULTIPLE_FILES'|translate}}</span>
            <span ng-if="!$ctrl.multipleFiles">{{'MAIN.COMPONENTS.FILE_UPLOADER.LABELS.SINGLE_FILE'|translate}}</span>

        </div>
        <md-button ngf-select="$ctrl.selectFiles($files)"
                   ng-model="$ctrl.files"
                   accept="{{$ctrl.fileFormats}}"
                   ngf-pattern="{{$ctrl.fileFormats}}"
                   ngf-validate="$ctrl.validations"
                   ngf-resize="$ctrl.resize"
                   ngf-resize-if="$ctrl.resizeIf"
                   ngf-dimensions="$ctrl.maxDimensions"
                   ngf-duration="$ctrl.maxDuration"
                   ngf-max-files="$ctrl.maxFiles"
                   ngf-multiple="$ctrl.multipleFiles"
                   ngf-allow-dir="$ctrl.allowFolders"
                   ngf-keep="{{$ctrl.keep}}"
                   class="md-primary md-raised"
                   aria-label="upload">
            <md-icon md-font-icon="fa fa-folder-open"></md-icon>
            <span ng-if="$ctrl.multipleFiles">
                {{'MAIN.COMPONENTS.FILE_UPLOADER.BUTTONS.MULTIPLE_FILES'|translate}}
            </span>
            <span ng-if="!$ctrl.multipleFiles">
                {{'MAIN.COMPONENTS.FILE_UPLOADER.BUTTONS.SINGLE_FILE'|translate}}
            </span>
        </md-button>
    </div>
<div
    layout="row"
    layout-align="space-around center"
    layout-wrap
>
    <div
        class="uploaded-file"
        layout-margin
        layout="column"
        layout-align="center center"
        ng-repeat="file in $ctrl.files">

        <div class="file-name">
            {{file.name}}
        </div>

        <img
            class="file-thumb"
            ng-if="file.type==='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
            src="app/mainApp/components/fileUploader/images/xlsx.png">
        <img
            class="file-thumb"
            ng-if="file.type==='image/jpeg' || file.type==='image/png' || file.type==='image/bmp'"
            ng-src="{{file.$ngfBlobUrl}}">

        <md-button
            ng-click="$ctrl.removeFile($index)"
            class="md-raised md-warn">
            <md-icon md-font-icon="fa fa-close"></md-icon>
            {{'MAIN.COMPONENTS.FILE_UPLOADER.BUTTONS.REMOVE'|translate}}
        </md-button>

    </div>

</div>
</div>
