<div layout="column">
    <md-card flex  layout-align="center center">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row">
                <div flex="50">
                    <h2>
                        <span flex translate="">STORAGE.STORING</span>
                        <span ng-if="vm.type_storage" translate="">STORAGE.CABINET</span>
                        <span ng-if="!vm.type_storage" translate="">STORAGE.UNRECOGNIZABLE</span>
                    </h2>
                </div>
                <div flex="50" layout="row" layout-align="end center">
                    <md-switch class="md-primary" ng-model="vm.type_storage" aria-label="Primary Switch">
                        <span class="md-caption" translate="">STORAGE.SELECT_TYPE</span>
                    </md-switch>
                </div>

            </div>
        </md-toolbar>
        <md-content layout="row" layout-padding="">
            <md-input-container>
                <label translate="">STORAGE.ASSET_ID</label>
                <input type="text" ng-model="vm.asset_location.cabinet_id" required md-maxlength="12">
            </md-input-container>
            <md-input-container>
                <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                </md-button>
            </md-input-container>
        </md-content>

        <form name="line_assignement">
            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch" layout-wrap="">
                <md-input-container flex-sm="100" flex="50" class="md-block">
                    <catalog-select catalog="vm.catalogues['subsidiary'].catalog"
                                    required="true"
                                    pagination="vm.catalogues['subsidiary'].pagination"
                                    elements="vm.catalogues['subsidiary'].elements"
                                    soft-delete="vm.catalogues['subsidiary'].softDelete"
                                    on-select="vm.onSubsidiarySelect(element)">
                    </catalog-select>
                </md-input-container>
                <md-input-container flex-sm="100" flex="50" flex class="md-block">
                    <catalog-select ng-if="vm.subsidiary"
                                    catalog="vm.catalogues['storage_by_sucursal'].catalog"
                                    required="true"
                                    lazy="true"
                                    pagination="vm.catalogues['storage_by_sucursal'].pagination"
                                    elements="vm.catalogues['storage_by_sucursal'].elements"
                                    soft-delete="vm.catalogues['storage_by_sucursal'].softDelete"
                                    on-select="vm.onElementSelect(element,'storage_id')">
                    </catalog-select>
                </md-input-container>
                <div layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                    <md-slider-container flex>
                        <md-input-container flex="30" flex-sm="100">
                            <h5 translate>STORAGE.CORRIDOR</h5>
                        </md-input-container>
                        <md-input-container flex="30">
                            <loopify-number-picker value="vm.asset_location.pasillo" ng-model="vm.asset_location.pasillo" step="1"
                                                   min="1" max="100"></loopify-number-picker>

                        </md-input-container>
                        <md-slider class="md-accent" md-discrete ng-model="vm.asset_location.pasillo" min="0" max="vm.storage.pasillo_max"
                                   step="1"
                                   aria-label="Nivel"
                                   md-vertical flex="90"></md-slider>
                        </md-slider>

                    </md-slider-container>
                    <md-slider-container flex>
                        <md-input-container flex="20" flex-sm="100">
                            <h5 translate>STORAGE.STOWAGE</h5>
                        </md-input-container>
                        <md-input-container flex="30">

                            <loopify-number-picker value="vm.asset_location.estiba" ng-model="vm.asset_location.estiba" step="1"
                                                   min="1" max="vm.storage.estiba_max" label=""></loopify-number-picker>

                        </md-input-container>
                        <md-slider class="md-accent" md-discrete ng-model="vm.asset_location.estiba" min="0" max="vm.storage.estiba_max"
                                   step="1"
                                   aria-label="Nivel"
                                   md-vertical flex="90"></md-slider>
                        </md-slider>
                    </md-slider-container>
                    <md-slider-container flex>
                        <md-input-container flex="10">
                            <h5 translate>STORAGE.DEPTH</h5>
                        </md-input-container>
                        <md-input-container flex="30" flex-sm="100">

                            <loopify-number-picker value="vm.asset_location.profundidad" ng-model="vm.asset_location.profundidad" step="1"
                                                   min="1" max="vm.storage.profundidad_max" label=""></loopify-number-picker>
                        </md-input-container>
                        <md-slider class="md-accent" md-discrete ng-model="vm.cabinet.linea_z" min="0" max="vm.storage.profundidad_max"
                                   step="1"
                                   aria-label="Nivel"
                                   md-vertical flex="90"></md-slider>
                        </md-slider>
                    </md-slider-container>
                </div>
            </div>
        </form>

    </md-card>
</div>
