// Material Backgrounds Pack

.mb-bg-02 {
  background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-02.jpg);
}
.mb-bg-03 {
  background-image: url(../assets/images/backgrounds/material-backgrounds/mb-bg-03.jpg);
}

//Personalized Backgrounds
.bg-01 {
  background-image: url(../assets/images/backgrounds/background-1.svg);
}

.bg-02 {
  background-image: url(../assets/images/backgrounds/red-background.svg);
}

.bg-03 {
  background-image: url(../assets/images/backgrounds/gray-background.svg);
}
