<md-content class="bg-clouds"
            layout="column"
            layout-align="center stretch">
    <md-card layout="column"
             layout-padding
             layout-margin
             layout-align="space-around stretch">
        <div layout="column"
             layout-align="center center">
            <h2>Detalle de servicio</h2>
            <h2>{{vm.folio}}</h2>
        </div>
    </md-card>
    <md-card layout="column"
             layout-padding
             layout-margin
             layout-align="space-around stretch">
        <h3>Locación</h3>
        <div layout="row"
             class="full-width"
             layout-align="space-around center"
             layout-align-xs="center stretch"
             layout-xs="column">
            <md-input-container class="md-block full-width">
                <label>Ubicación</label>
                <input disabled="true"
                       ng-model="vm.request.location.name">
            </md-input-container>
            <md-input-container class="md-block full-width">
                <label>Encargado</label>
                <input disabled="true"
                       ng-model="vm.request.responsible.name">
            </md-input-container>
        </div>
        <div layout="row"
             class="full-width"
             layout-align="space-around center"
             layout-align-xs="center stretch"
             layout-xs="column">
            <md-input-container class="md-block full-width">
                <label>Teléfono</label>
                <input disabled="true"
                       ng-model="vm.request.responsible.phone">
            </md-input-container>
            <md-input-container class="md-block full-width">
                <label>E-Mail</label>
                <input disabled="true"
                       ng-model="vm.request.responsible.email">
            </md-input-container>
        </div>
        <div layout="row"
             layout-align="end end"
             layout-sm="column"
             layout-xs="column"
             layout-align-sm="start stretch"
             layout-align-xs="start stretch">
            <md-button aria-label="geolocate" ng-click="vm.showLocation()" class="md-raised md-primary">
                <md-icon md-font-icon="fa fa-location-arrow"></md-icon>
                Localización
            </md-button>
        </div>
    </md-card>
    <md-card layout="column"
             layout-padding
             layout-margin
             layout-align="space-around stretch">
        <h3>Detalle de solicitud</h3>
        <div layout="row"
             class="full-width"
             layout-align="space-around center"
             layout-align-xs="center stretch"
             layout-xs="column">
            <md-input-container class="md-block full-width">
                <label>Obra</label>
                <input disabled="true"
                       ng-model="vm.request.work">
            </md-input-container>
            <md-input-container class="md-block full-width">
                <label>Estimación</label>
                <input disabled="true"
                       ng-model="vm.request.estimated">
            </md-input-container>
        </div>
        <div layout="row"
             class="full-width"
             layout-align="space-around center"
             layout-align-xs="center stretch"
             layout-xs="column">
            <md-input-container class="md-block full-width">
                <label>Partida</label>
                <input disabled="true"
                       ng-model="vm.request.partida">
            </md-input-container>
            <md-input-container class="md-block full-width">
                <label>Especificación</label>
                <input disabled="true"
                       ng-model="vm.request.specification">
            </md-input-container>
        </div>
        <div layout="row"
             class="full-width"
             layout-align="space-around center"
             layout-align-xs="center stretch"
             layout-xs="column">
            <md-input-container class="md-block full-width">
                <label>Descripción</label>
                <textarea name="description"
                          rows="5"
                          disabled="true"
                          ng-model="vm.request.description"></textarea>
            </md-input-container>
        </div>
    </md-card>
    <md-card layout="column"
             layout-padding
             layout-margin
             layout-align="space-around stretch">
        <div>
            <h3>Persona</h3>
            <md-autocomplete md-input-name="persona"
                             class="full-width"
                             md-no-cache="true"
                             md-min-length="0"
                             md-selected-item="vm.assignedPerson"
                             md-selected-item-change="vm.selectedPersonChange()"
                             md-search-text="vm.personSearchText"
                             md-items="item in vm.users"
                             md-item-text="'(' + item.username +') ' + item.nombre + ' ' + item.apellido_paterno + ' ' + item.apellido_materno"
                             md-floating-label="Persona a asignar"
                             md-menu-class="autocomplete-custom-template"
                             required>
                <md-item-template>
                <span class="item-title" title="{{item.nombre}}">
                    <md-icon md-font-icon="fa fa-user"></md-icon>
                    <span>
                        <b>{{item.username}}</b>
                    </span>
                </span>
                    <span class="md-caption">
                    {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_paterno}}
                </span>
                </md-item-template>
                <md-not-found>
                <span class="item-title">
                    <span>
                        Sin resultados para: "{{vm.personSearchText}}"
                    </span>
                </span>
                </md-not-found>
            </md-autocomplete>

            <div layout="row"
                 layout-align="end end"
                 layout-sm="column"
                 layout-xs="column"
                 layout-align-sm="start stretch"
                 layout-align-xs="start stretch">
                <md-button aria-label="assign" ng-click="vm.assign()" class="md-raised md-primary">
                    <md-icon md-font-icon="fa fa-save"></md-icon>
                    Guardar
                </md-button>
            </div>
        </div>
    </md-card>
</md-content>
