<div class="mb-bg-fb-08"
     layout="column">

    <md-card layout="row"
             layout-align-xs="center stretch"
             layout-xs="column"
             layout-align="space-around center"
             layout-padding>
            <h2 translate>REQUESTS.DETAIL.TITLE</h2>
            <h2>{{vm.request.id}}</h2>
            <div class="{{vm.request.status}}">
                {{vm.request.status}}
            </div>
    </md-card>

    <md-card layout-align="center stretch"
             layout="column"
             layout-padding>
        <h3 translate>REQUESTS.DETAIL.STORE.TITLE</h3>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.NAME</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.nombre_establecimiento"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.SEGMENTATION</label>
                <md-select
                    ng-disabled="true"
                    ng-model="vm.store.segmentacion">
                    <md-option
                        ng-repeat="segment in vm.storeSegmentation"
                        ng-value="segment.value">
                        {{segment.label}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.MANAGER</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.nombre_encargado"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.MANAGER_PHONE</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.telefono_encargado"/>
            </md-input-container>
        </div>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.STREET</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.calle"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.NUMBER</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.numero"/>
            </md-input-container>
        </div>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.BETWEEN1</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.entre_calle1"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.BETWEEN2</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.entre_calle2"/>
            </md-input-container>
        </div>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.STATE</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.localidad.municipio.estado.nombre"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.CITY</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.localidad.municipio.nombre"/>
            </md-input-container>
        </div>
        <div flex
             layout="column"
             layout-gt-sm="row"
             layout-align-gt-sm="center stretch">
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.LOCALITY</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.localidad.nombre"/>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label translate>REQUESTS.DETAIL.STORE.ZIP_CODE</label>
                <input
                    ng-disabled="true"
                    ng-model="vm.store.localidad.codigo_postal"/>
            </md-input-container>
        </div>
        <div layout="row"
             layout-align="end end"
             layout-sm="column"
             layout-xs="column"
             layout-align-sm="start stretch"
             layout-align-xs="start stretch">
            <md-button aria-label="geolocate" ng-click="vm.showStoreLocation()" class="md-raised md-primary">
                <md-icon md-font-icon="fa fa-location-arrow"></md-icon>
            </md-button>
        </div>
    </md-card>

    <md-card layout-align="center stretch"
             layout="column"
             layout-padding>
        <h3 translate>REQUESTS.DETAIL.INFO</h3>

    </md-card>

    <md-card layout-align="center stretch"
             layout="column"
             layout-padding>
            <h3 translate>REQUESTS.DETAIL.USER</h3>
    </md-card>

</div>
