<md-card class="full-width" layout-padding layout="column" laoyut-align="center-stretch">
    <header layout="column" layout-align="center center">
        <h1 translate>WAREHOUSE.LABELS.TITLE</h1>
    </header>
    <div layout="row" layout-align="center center" ng-if="vm.showSelector">
        <p>{{'WAREHOUSE.SWITCH.LABEL'|translate}}</p>
        <md-switch ng-model="vm.showFromAgency" ng-change="vm.changeSwitch()">
            <!--<p ng-if="vm.entryFromAgency">{{'ENTRIES.WAREHOUSE.LABELS.SWITCH.TRUE'|translate}}</p>
            <p ng-if="!vm.entryFromAgency">{{'ENTRIES.WAREHOUSE.LABELS.SWITCH.FALSE'|translate}}</p>-->
        </md-switch>
    </div>
    <div layout="column" layout-gt-xs="row" layout-align-gt-xs="space-around center" layout-align="center stretch">
        <catalog-select class="full-width" ng-if="!vm.showFromAgency && vm.showSelector"
            catalog="vm.catalogues['subsidiary'].catalog" hint="vm.catalogues['subsidiary'].hint"
            icon="vm.catalogues['subsidiary'].icon" required="vm.catalogues['subsidiary'].required"
            on-select="vm.onElementSelect(element,vm.catalogues['subsidiary'].binding)">
        </catalog-select>
        <catalog-select class="full-width" ng-if="vm.showFromAgency && vm.showSelector"
            catalog="vm.catalogues['udn'].catalog" hint="vm.catalogues['udn'].hint" icon="vm.catalogues['udn'].icon"
            required="vm.catalogues['udn'].required"
            on-select="vm.onElementSelect(element,vm.catalogues['udn'].binding)">
        </catalog-select>
    </div>
</md-card>
<md-card ng-if="vm.filter.sucursal || vm.filter.udn" class="full-width" layout-padding layout="column"
    laoyut-align="center-stretch">
    <section layout="row" layout-align="space-around center">
        <span flex layout-padding>
            <strong translate>WAREHOUSE.LABELS.TOTAL</strong>
            <span>{{vm.warehouse.total[0].cantidad}}</span>
        </span>
    </section>
    <md-tabs cg-busy="{
        promise:vm.loadingWarehouse,
        message:'Cargando inventario'}" md-no-select-click="false" md-dynamic-height="true"
        md-selected="vm.selectedTab">
        <md-tab md-on-select="vm.searchWarehouse('brand')" layout="column" layout-align="center stretch"
            label={{'WAREHOUSE.LABELS.BY_BRAND'|translate}}>
            <!--Fridges by brand-->
            <div ng-if="value[0].economico" ng-repeat="(key, value) in vm.warehouse" layout="column"
                layout-align="center stretch">
                <v-accordion id="accordionWarehouse" class="vAccordion--default" control="accordionWarehouse">
                    <v-pane id="v-accordion-pane">
                        <v-pane-header id="v-accordion-header">
                            <div layout="row" layout-align="start center">
                                <strong>{{key}}:</strong>
                                <p ng-if="value[0]">{{value[0].economico.length}}</p>
                            </div>
                        </v-pane-header>
                        <v-pane-content id="v-accordion-content">
                            <md-virtual-repeat-container class="cabinet-container">
                                <md-list>
                                    <md-list-item layout-align="center stretch" md-virtual-repeat="element in value[0].economico">
                                        <div layout="column" layout-align="center stretch" class="full-width">
                                            <!--Existing cabinets-->
                                            <section layout-gt-xs="row" layout="column"
                                                layout-align-gt-xs="space-between center" layout-align="center stretch"
                                                class="full-width found-cabinet">
                                                <div layout="column" layout-align="center center">
                                                    <b>{{element}}</b>
                                                </div>
                                            </section>
                                            <md-divider></md-divider>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-virtual-repeat-container>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </div>
        </md-tab>
        <md-tab md-on-select="vm.searchWarehouse('model')" layout="column" layout-align="center stretch"
            label={{'WAREHOUSE.LABELS.BY_MODEL'|translate}}>
            <!--Fridges by model-->
            <div ng-if="value[0].economico" ng-repeat="(key, value) in vm.warehouse" layout="column"
                layout-align="center stretch">
                <v-accordion id="accordionWarehouse" class="vAccordion--default" control="accordionWarehouse">
                    <v-pane id="v-accordion-pane">
                        <v-pane-header id="v-accordion-header">
                            <div layout="row" layout-align="start center">
                                <strong>{{key}}:</strong>
                                <p ng-if="value[0]">{{value[0].economico.length}}</p>
                            </div>
                        </v-pane-header>
                        <v-pane-content id="v-accordion-content">
                            <md-virtual-repeat-container class="cabinet-container">
                                <md-list>
                                    <md-list-item layout-align="center stretch" md-virtual-repeat="element in value[0].economico">
                                        <div layout="column" layout-align="center stretch" class="full-width">
                                            <!--Existing cabinets-->
                                            <section layout-gt-xs="row" layout="column"
                                                layout-align-gt-xs="space-between center" layout-align="center stretch"
                                                class="full-width found-cabinet">
                                                <div layout="column" layout-align="center center">
                                                    <b>{{element}}</b>
                                                </div>
                                            </section>
                                            <md-divider></md-divider>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-virtual-repeat-container>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </div>
        </md-tab>
        <md-tab md-on-select="vm.searchWarehouse('kind')" layout="column" layout-align="center stretch"
            label={{'WAREHOUSE.LABELS.BY_KIND'|translate}}>
            <!--Fridges by kind-->
            <div ng-if="value[0].economico" ng-repeat="(key, value) in vm.warehouse" layout="column"
                layout-align="center stretch">
                <v-accordion id="accordionWarehouse" class="vAccordion--default" control="accordionWarehouse">
                    <v-pane id="v-accordion-pane">
                        <v-pane-header id="v-accordion-header">
                            <div layout="row" layout-align="start center">
                                <strong>{{key}}:</strong>
                                <p ng-if="value[0]">{{value[0].economico.length}}</p>
                            </div>
                        </v-pane-header>
                        <v-pane-content id="v-accordion-content">
                            <md-virtual-repeat-container class="cabinet-container">
                                <md-list>
                                    <md-list-item layout-align="center stretch" md-virtual-repeat="element in value[0].economico">
                                        <div layout="column" layout-align="center stretch" class="full-width">
                                            <!--Existing cabinets-->
                                            <section layout-gt-xs="row" layout="column"
                                                layout-align-gt-xs="space-between center" layout-align="center stretch"
                                                class="full-width found-cabinet">
                                                <div layout="column" layout-align="center center">
                                                    <b>{{element}}</b>
                                                </div>
                                            </section>
                                            <md-divider></md-divider>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-virtual-repeat-container>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </div>
        </md-tab>
        <md-tab md-on-select="vm.searchWarehouse('unilever_status')" layout="column" layout-align="center stretch"
            label={{'WAREHOUSE.LABELS.BY_STATUS'|translate}}>
            <!--Fridges by unilever status-->
            <div ng-if="value[0].economico" ng-repeat="(key, value) in vm.warehouse" layout="column"
                layout-align="center stretch">
                <v-accordion id="accordionWarehouse" class="vAccordion--default" control="accordionWarehouse">
                    <v-pane id="v-accordion-pane">
                        <v-pane-header id="v-accordion-header">
                            <div layout="row" layout-align="start center">
                                <strong>{{key}}:</strong>
                                <p ng-if="value[0]">{{value[0].economico.length}}</p>
                            </div>
                        </v-pane-header>
                        <v-pane-content id="v-accordion-content">
                            <md-virtual-repeat-container class="cabinet-container">
                                <md-list>
                                    <md-list-item layout-align="center stretch" md-virtual-repeat="element in value[0].economico">
                                        <div layout="column" layout-align="center stretch" class="full-width">
                                            <!--Existing cabinets-->
                                            <section layout-gt-xs="row" layout="column"
                                                layout-align-gt-xs="space-between center" layout-align="center stretch"
                                                class="full-width found-cabinet">
                                                <div layout="column" layout-align="center center">
                                                    <b>{{element}}</b>
                                                </div>
                                            </section>
                                            <md-divider></md-divider>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-virtual-repeat-container>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </div>
        </md-tab>
    </md-tabs>
</md-card>