<md-content class="bg-clouds full-height"
            layout="column"
            layout-align="center stretch">
    <md-virtual-repeat-container class="full-height">
        <div>
            <md-card layout="column" layout-align="center center">
                <h2 translate>Listado de solicitudes</h2>
            </md-card>
            <md-card layout="column"
                     layout-padding
                     layout-align="center stretch">
                <div layout="row"
                     layout-align="space-around center"
                     layout-align-xs="center stretch"
                     layout-xs="column">
                    <div layout="column">
                        <span>Abierta</span>
                        <div ng-click="vm.listRequests('Abierta')"
                             class="Abierta"></div>
                    </div>
                    <div layout="column">
                        <span>En proceso</span>
                        <div ng-click="vm.listRequests('En_proceso')"
                             class="En_proceso"></div>
                    </div>
                    <div layout="column">
                        <span>Atendida</span>
                        <div ng-click="vm.listRequests('Atendida')"
                             class="Atendida"></div>
                    </div>
                    <div layout="column">
                        <span>Cancelada</span>
                        <div ng-click="vm.listRequests('Cancelada')"
                             class="Cancelada"></div>
                    </div>
                    <div layout="column">
                        <span>Cerrada</span>
                        <div ng-click="vm.listRequests('Cerrada')"
                             class="Cerrada"></div>
                    </div>
                </div>
            </md-card>
        </div>
        <div
            ng-if="vm.requests">
            <md-card
                layout="column"
                ng-repeat="request in vm.requests"
                layout-gt-xs="row"
                ng-click="vm.selectRequest(request)"
                layout-align="space-around center">
                <div layout="column" layout-align="center center">
                    <h3 translate>Folio</h3>
                    <span>{{request.folio}}</span>
                </div>
                <div layout="column" layout-align="center center">
                    <h3 translate>Estatus</h3>
                    <div class="{{request.estado}}">
                        <span>{{request.estado}}</span>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <h3 translate>Fecha</h3>
                    <span>{{request.fecha}}</span>
                </div>
            </md-card>
        </div>
    </md-virtual-repeat-container>
</md-content>
