<div layout="column">
    <md-card flex layout-align="center stretch">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools" layout="row">
                <div flex="50">
                    <h2>
                        <span flex translate="">INSPECTION.INSPECTION_NAME_MENU</span>

                    </h2>
                </div>
                <div flex="50" layout="column" layout-gt-sm="row" layout-align="end center">
                    <md-button ng-if="!vm.edition" ng-click="vm.enableEdition()" class="md-raised md-warn">
                        <md-icon md-font-icon="fa fa-exclamation-triangle"></md-icon>
                        <span translate="">INCIDENCE.REPORT_INCIDENCE</span>
                    </md-button>

                </div>

            </div>
        </md-toolbar>
        <div layout="row" flex="100" layout-wrap="">
        <search-cabinet-step flex="100" info-gral="vm.infogral(element)" info-step-to-do="vm.infoStep(element)"></search-cabinet-step>
        <show-info-asset asset="vm.asset" ng-if="vm.asset" flex="50"></show-info-asset>
        <show-info-servicio  ng-if="vm.step" info="vm.step" flex="50"></show-info-servicio>
        </div>


        <md-tabs class="md-primary coverheight" md-selected="selectedTabIndex" md-stretch-tabs="always"
                 ng-if="vm.asset.economico">
            <md-tab label="{{vm.title_info}}">
                <md-content class="md-padding">
                    <div flex="100" layout="row" layout-wrap="" layout-align="space-between center">
                        <div flex-gt-md="30" flex-md="45" flex="100" layout-align="center center">
                            <md-input-container flex="100" layout-fill="">
                                <catalog-select catalog="vm.catalogues['sticker'].catalog"
                                                required="true"
                                                noResults="vm.catalogues['sticker'].noResults"
                                                pagination="vm.catalogues['sticker'].pagination"
                                                elements="vm.catalogues['sticker'].elements"
                                                soft-delete="vm.catalogues['sticker'].softDelete"
                                                on-select="vm.onStickerSelect(element)">
                                </catalog-select>
                            </md-input-container>

                        </div>
                        <div layout="row" flex-gt-md="30" flex-md="45" flex="100" layout-margin=""
                             layout-align="center center">
                            <div layout="row" layout-align="center center">
                                <md-icon md-font-icon="fas fa-bullseye"></md-icon>
                                <span class="md-body-2">{{'INSPECTION.WHEELS'|translate}}</span>
                            </div>
                            <md-input-container flex="100" layout-align="center end">
                                <div range-spinner
                                     range-min="0"
                                     range-step="1"
                                     range-max="6"
                                     range-default-value=""
                                     range-decimal-precision="1"
                                     range-model="vm.checklist.rodajas"
                                     accept-decimal=false
                                     name-of-field="Rodajas"
                                     id-of-field="rangeFieldId">
                                </div>

                            </md-input-container>
                        </div>
                        <div layout="row" flex-gt-md="30" flex-md="45" flex="100" layout-margin=""
                             layout-align="center center">
                            <div layout="row" layout-align="center center">
                                <md-icon md-font-icon="fas fa-shopping-basket"></md-icon>
                                <span class="md-body-2">{{'INSPECTION.BASKET'|translate}}</span>
                            </div>
                            <md-input-container flex="100" layout-align="center end">
                                <div range-spinner
                                     range-min="0"
                                     range-step="1"
                                     range-max="6"
                                     range-default-value="0"
                                     range-decimal-precision="1"
                                     range-model="vm.checklist.canastillas"
                                     accept-decimal=false
                                     name-of-field="Rodajas"
                                     id-of-field="rangeFieldId">
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex-gt-md="30" flex-md="45" flex="100" layout-margin=""
                             layout-align="center center">
                            <div layout="row" layout-align="center center">
                                <md-icon md-font-icon="zmdi zmdi-border-all"></md-icon>
                                <span class="md-body-2">{{'INSPECTION.FRONT_RACK'|translate}}</span>
                            </div>
                            <md-input-container flex="100" layout-align="center end">
                                <div range-spinner
                                     range-min="0"
                                     range-step="1"
                                     range-max="6"
                                     range-default-value="0"
                                     range-decimal-precision="1"
                                     range-model="vm.checklist.rejillas_delanteras"
                                     accept-decimal=false
                                     name-of-field="Rodajas"
                                     id-of-field="rangeFieldId">
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex-gt-md="30" flex-md="45" flex="100" layout-margin=""
                             layout-align="center center">
                            <div layout="row" layout-align="center center">
                                <md-icon md-font-icon="zmdi zmdi-border-all"></md-icon>
                                <span class="md-body-2">{{'INSPECTION.BACK_RACK'|translate}}</span>
                            </div>
                            <md-input-container flex="100" layout-align="center end">
                                <div range-spinner
                                     range-min="0"
                                     range-step="1"
                                     range-max="6"
                                     range-default-value="0"
                                     range-decimal-precision="1"
                                     range-model="vm.checklist.rejillas_traseras"
                                     accept-decimal=false
                                     name-of-field="Rodajas"
                                     id-of-field="rangeFieldId">
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row" flex-gt-md="30" flex-md="45" flex="100" layout-margin=""
                             layout-align="center center">
                            <div layout="row" layout-align="center center">
                                <md-icon md-font-icon="fas fa-door-open"></md-icon>
                                <span class="md-body-2">{{'INSPECTION.DOORS'|translate}}</span>
                            </div>
                            <md-input-container flex="100" layout-align="center end">
                                <div range-spinner
                                     range-min="0"
                                     range-step="1"
                                     range-max="6"
                                     range-default-value="0"
                                     range-decimal-precision="1"
                                     range-model="vm.checklist.puertas"
                                     accept-decimal=false
                                     name-of-field="Rodajas"
                                     id-of-field="rangeFieldId">
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row" layout-wrap="" layout-padding="" layout-align="space-between center">
                        <div flex-gt-md="25" flex-md="45" flex="100" layout-align="space-between center">
                            <md-icon md-font-icon="zmdi zmdi-format-color-fill"></md-icon>
                            <span class="md-body-2" translate="">INSPECTION.PAINT</span>
                            <md-checkbox ng-model="vm.checklist.pintura"></md-checkbox>
                        </div>
                        <div flex-gt-md="25" flex-md="45" flex="100" layout-align="space-between center">
                            <md-icon md-font-icon="fas fa-broom"></md-icon>
                            <span class="md-body-2" translate="">INSPECTION.WASHED</span>
                            <md-checkbox ng-model="vm.checklist.lavado"></md-checkbox>
                        </div>
                        <div flex-gt-md="25" flex-md="45" flex="100" layout-align="space-between center">
                            <md-icon md-font-icon="fas fa-box"></md-icon>
                            <span class="md-body-2" translate="">INSPECTION.WRAPPED</span>
                            <md-checkbox ng-model="vm.checklist.emplayado"></md-checkbox>
                        </div>
                        <div flex-gt-md="25" flex-md="45" flex="100" layout-align="space-between center">
                            <md-icon md-font-icon="fas fa-box-open"></md-icon>
                            <span class="md-body-2" translate="">INSPECTION.EMPTY</span>
                            <md-checkbox ng-model="vm.checklist.vacio_mercancia"></md-checkbox>
                        </div>
                    </div>

                </md-content>
            </md-tab>
            <md-tab ng-if="!vm.step.makeInspection" label="{{vm.assets_info}}">
                <md-content class="md-padding">

                </md-content>
            </md-tab>

        </md-tabs>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-if="vm.step.makeInspection" ng-click="vm.sendInspection()" class="md-raised md-primary">
                <md-icon md-font-icon="fas fa-save"></md-icon>
                <span translate="">INSPECTION.ACTIONS.SAVE_INSPECTION</span>
            </md-button>
            <md-button ng-if="vm.step.makeInspection" ng-click="vm.sendPrecheck()" class="md-raised md-primary">
                <md-icon md-font-icon="fas fa-save"></md-icon>
                <span translate="">INSPECTION.ACTIONS.SAVE_PRECHECK</span>
            </md-button>
            <md-button ng-if="!vm.edition" ng-click="vm.enableEdition()" class="md-raised md-primary">
                <md-icon md-font-icon="fas fa-pencil-alt"></md-icon>
                <span translate="">INSPECTION.ACTIONS.SAVE_CHECKLIST</span>
            </md-button>
        </md-card-actions>
    </md-card>
</div>
