<div flex="100" layout-wrap="" layout="row">
    <md-toolbar flex="100" class="Subtitle">
        <div layout="row" layout-align="center center">
            <div flex="10" class="toolbarSubtitleIcon" layout="row" layout-align="center center">
                <md-icon md-font-icon="fas fa-notes-medical"></md-icon>
            </div>
            <div flex="90" class="toolbarSubtitle" layout-padding="" layout-align="center center">
                <b translate="">BULK_ASSET_COMPONENT.TITLE</b>
            </div>
        </div>
    </md-toolbar>
    <div layout="row" layout-align="center center">
        <b class="BLUE" ng-if="$ctrl.bulks.length==0" translate="">BULK_ASSET_CONTAINER_COMPONENT.NO_BULKS</b>
    </div>
    <bulk-asset ng-repeat="bulk in $ctrl.bulks" flex-gt-md="50" flex="100" bulk-asset="bulk" sucursal="$ctrl.sucursal"
                on-select="$ctrl.onElementSelect(element)"></bulk-asset>
</div>
