.cabinet-container {
  min-height: 50vh;
  width: 100%;
  font-size: 14px;
}

.found-cabinet {
}

.not-found-cabinet {
  background-color: #FFCCAA;
}

.not-confirmed-entry {
  border-style: solid;
  border-color: #FE0;
  border-width: .5em;
}
strong.not_confirmed_entry{
color:#FE0;
}

div.new-entries {
  background-color: #0AF;
}
div.repair-entries {
  background-color: #F50;
}
div.unrecognizable-entries {
  background-color: #AAA;
}
div.warehouse-entries {
  background-color: #0A0;
}
div.warranty-entries {
  background-color: #FA0;
}
div.all-entries {
  background-color: #FFF;
}
