.cabinet-container {
  min-height: 50vh;
  width: 100%;
  font-size: 14px;
}

.found-cabinet {
}

.not-found-cabinet {
  background-color: #FFCCAA;
}

div.new-entries {
  background-color: #0AF;
}
div.repair-entries {
  background-color: #FF0;
}
div.unrecognizable-entries {
  background-color: #AAA;
}
div.warehouse-entries {
  background-color: #0A0;
}
div.warranty-entries {
  background-color: #FA0;
}
div.all-entries {
  background-color: #000;
}

div.entries-filter {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 100px;
}
