<div ng-cloak>
    <md-card layout-padding="">
        <form name="formReport" ng-submit="vm.generateReport()">
            <div layout="row">
                <md-input-container flex="50">
                    <md-input-container layout="column" layout-fill="true" flex="100">
                        <label translate>ETAPA_SERVICIO.ETAPA</label>
                        <md-select ng-model="vm.reporte.etapa" name="select"
                                   ng-required="">
                            <md-option ng-repeat="etap in vm.etapas" ng-value="etap.nombre">{{etap.nombre}} :
                                {{etap.descripcion}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formReport.select.$error">
                            <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                        </div>
                    </md-input-container>
                </md-input-container>
                <md-input-container flex="50">
                    <label>{{'INPUT.Subsidiary'|translate}}</label>
                    <md-select name="selectSubsidiary"
                               ng-model="vm.reporte.sucursal"
                               ng-disabled="vm.sucursal!=null"
                               md-no-asterisk="">
                        <md-option ng-repeat="sucursal in vm.Sucursales" value="{{sucursal.id}}">
                            {{sucursal.nombre}}
                        </md-option>
                    </md-select>
                    <div ng-messages="entradaForm.selectSubsidiary.$error">
                        <div ng-message="required">{{'INPUT.Required Field'|translate}}</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="50">
                    <md-input-container layout="column" layout-fill="true" flex="100">
                        <label translate>REPORT.MONTH</label>
                        <md-select ng-model="vm.mes" name="select">
                            <md-option ng-repeat="mes in vm.meses" ng-value="mes">{{mes.nombre}}
                            </md-option>
                        </md-select>
                        <div ng-messages="formReport.select.$error">
                            <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                        </div>
                    </md-input-container>
                </md-input-container>
                <div flex="50">
                    <md-input-container>
                        <label>REPORT.YEAR</label>
                        <div range-spinner
                             range-min="2016"
                             range-step="1"
                             range-max="vm.anioActual"
                             range-default-value="vm.anioActual"
                             range-decimal-precision="1"
                             range-model="vm.anio"
                             accept-decimal="false"
                             id-of-field="rangeFieldId">
                        </div>

                    </md-input-container>
                    <div ng-if="insu.error">
                        <span style="color: #FF1B28;"> <b
                                translate>MAIN.GENERAL.MAX </b><b>{{insu.cantidadMax}}</b></span>
                    </div>
                </div>
            </div>
            <div layout="row" flex="100">
                <div flex="80">
                    <div class="chipsdemoCustomInputs" layout-fill="">
                        <label>{{'REPORT.CABINET.LABEL'|translate}}</label>
                        <md-chips ng-model="vm.reporte.cabinet"
                                  md-removable="vm.removable"
                                  delete-button-label="Remove Tag">
                            <input type="text" only-digits ng-model="vm.cabinetBuffer"
                                   placeholder="{{'REPORT.CABINET.LABEL.PLUS'|translate}}">
                        </md-chips>
                    </div>
                </div>
                <div flex="20">
                    <md-button class="md-primary md-raised" ng-click="vm.printReporte()" aria-label="">
                        <md-icon md-font-icon="fa fa-save"></md-icon>
                    </md-button>
                </div>

            </div>


        </form>
    </md-card>
</div>