<md-card layout="row" layout-wrap="">
    <search-cabinet-step flex="100" info-gral="vm.infogral(element)"
                         info-step-to-do="vm.infoStep(element)"></search-cabinet-step>
    <start-service flex="100" ng-if="vm.asset" on-start="vm.onStart(element)"></start-service>
    <show-info-asset asset="vm.asset" ng-if="vm.asset" flex="50"></show-info-asset>
    <show-info-servicio ng-if="vm.step" info="vm.step" flex="50"></show-info-servicio>

    <bulk-asset-container flex="100" ng-if="vm.step" sucursal="vm.step.control.sucursal"
                          tipo-equipo="vm.asset.modelo.tipo.id" catalogo-etapa="'Electrico'"
                          bulk-assets="vm.getInsumosLote(element)"></bulk-asset-container>
    <symptom-manager flex="100"></symptom-manager>
    <actions-manager  ng-if="vm.step"  actual-step="vm.step.currentStage.etapa" flex="100"></actions-manager>
    <fault-manager flex="100" failures-detected="vm.getFailures(element)"></fault-manager>
    <next-step ng-if="vm.step" failures="vm.failures" flex="100" next-step="vm.nextStep(element)" actual-step="vm.step.currentStage.etapa"></next-step>


</md-card>
