.buttonTicket{
  width: 125px;
}

.dialog{
  width: 600px;
}
.label{
  color: rgba(122, 122, 122, 0.87);
}
.green{
  background-color: #3bb270;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: whitesmoke;
  width: 40px;
  heigth:40px;
}
.yellow{
  background-color: #b2a757;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: black;
  width: 40px;
  heigth:40px;
}
.red{
  background-color: #b23c3b;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: whitesmoke;
  width: 40px;
  heigth:40px;
}
