<div layout="column">
    <md-card flex layout-align="center stretch">
        <div class="toolbar">
            <div layout-padding="" layout="row" layout-wrap="">
                <div flex="100" flex-gt-md="50">
                    <h2>
                        <span flex translate="">PUNCTURE.PUNCTURE_MENU</span>

                    </h2>
                </div>
                <div flex="100" layout-gt-sm="row" layout-align="center end" flex-gt-md="50">
                    <md-button ng-if="vm.asset" ng-click="vm.clear()" class="md-raised">
                        <md-icon md-font-icon="fas fa-search"></md-icon>
                        <span translate="" hide-xs hide-sm>INSPECTION.ACTIONS.SEARCH_NEW</span>
                    </md-button>
                    <md-button ng-if="!vm.edition" ng-click="vm.enableEdition()" class="md-raised md-warn">
                        <md-icon md-font-icon="fa fa-exclamation-triangle"></md-icon>
                        <span translate="" hide-xs hide-sm>INCIDENCE.REPORT_INCIDENCE</span>
                    </md-button>

                </div>

            </div>
        </div>
        <div layout="row" flex="100" layout-wrap="">
            <search-cabinet-step ng-if="!vm.asset" flex="100" info-gral="vm.infogral(element)"
                                 info-step-to-do="vm.infoStep(element)"></search-cabinet-step>
            <show-info-asset asset="vm.asset" ng-if="vm.asset" flex="50"></show-info-asset>
            <show-info-servicio ng-if="vm.step" info="vm.step" flex="50"></show-info-servicio>
            <start-service flex="100" ng-if="vm.step.currentStage" on-start="vm.onStart(element)" puncture="vm.step.currentStage.id" sucursal="vm.step.control.sucursal.id"></start-service>
        </div>


        <md-tabs class="md-primary coverheight" md-selected="selectedTabIndex" md-stretch-tabs="always"
                 ng-if="vm.step.currentStage">
            <md-tab label="{{vm.title_info}}">
                    <div flex="100" layout-padding="" layout-align="center center">
                        <md-input-container flex="30">
                            <md-switch class="md-primary" name="special" ng-model="vm.puncture.gas" required>
                            </md-switch>
                            <span ng-if="vm.puncture.gas" translate="">PUNCTURE.WITH_GAS</span>
                            <span ng-if="!vm.puncture.gas" translate="">PUNCTURE.WITHOUT_GAS</span>
                        </md-input-container>
                        <md-input-container flex="70" layout-align="center center" layout-fill="" class="md-padding">
                            <md-icon  md-font-icon=""></md-icon>
                            <label translate="">PUNCTURE.OBSERVATIONS</label>
                            <textarea ng-model="vm.puncture.observaciones" type="text" rows="5"  layout-fill=""></textarea>
                        </md-input-container>
                    </div>
                <md-content flex="100" layout-padding="">
                <actions-manager ng-if="vm.step"  actual-step="vm.step.currentStage.etapa" actions="vm.getActions(element)" flex="100"></actions-manager>
                </md-content>
            </md-tab>
            <md-tab ng-if="!vm.step.makeInspection" label="{{vm.assets_info}}">
                <md-content>
                    <bulk-asset-container flex="100" ng-if="vm.step" sucursal="vm.step.control.sucursal"
                                          tipo-equipo="vm.asset.modelo.tipo.id" catalogo-etapa="vm.step.currentStage.etapa.nombre"
                                          bulk-assets="vm.getInsumosLote(element)"></bulk-asset-container>

                </md-content>
            </md-tab>

        </md-tabs>

        <md-card-actions layout="row" layout-align="end center">
            <md-button  ng-if="vm.step" ng-click="vm.clear()" class="md-raised">
                <md-icon md-font-icon="fas fa-eraser"></md-icon>
                <span translate="">INSPECTION.ACTIONS.CLEAR_FIELD</span>
            </md-button>
            <md-button ng-if="vm.step.currentStage" ng-click="vm.sendPuncture()" class="md-raised md-primary">
                <md-icon md-font-icon="fas fa-pencil-alt"></md-icon>
                <span translate="">PUNCTURE.ACTIONS.SAVE_PUNCTURE</span>
            </md-button>
        </md-card-actions>
    </md-card>
</div>

