<div flex="100">
    <md-toolbar flex="100" class="Subtitle">
        <div layout="row" layout-align="center center">
            <div flex="10" class="toolbarSubtitleIcon" layout="row" layout-align="center center">
                <md-icon md-font-icon="fas fa-box-open"></md-icon>
            </div>
            <div flex="90" class="toolbarSubtitle" layout-padding="" layout-align="center center">
                <b translate="">UNIQUE_ASSET_COMPONENT.TITLE</b>
            </div>
        </div>
    </md-toolbar>
    <div layout=row layout-padding="" flex="100" layout="com" layout-align="center center">
        <form name="searchUniqueAsset" ng-submit="$ctrl.search_asset()">
            <div layout="row" layout-padding="">
                <md-input-container flex="80">
                    <label translate="">UNIQUE_ASSET_COMPONENT.CODE_BAR</label>
                    <input type="text" ng-model="$ctrl.barcode" required md-maxlength="12">
                </md-input-container>
                <md-input-container flex="20">
                    <md-button class="md-fab md-primary md-hue-2" ng-click="$ctrl.search_unique_asset()">
                        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                    </md-button>
                </md-input-container>
            </div>
        </form>
    </div>
</div>
