<md-dialog class="mobile-fullwidth-dialog" flex="100" flex-xs="100">
    <div flex class="card1">
        <md-toolbar class="md-medium-tall">
            <div class="md-toolbar-tools" layout-align="space-between center" layout="row" layout-sm="column"
                 layout-xs="column">
                <div>
                    <h2>
                        <span translate>MAIN.MENU.DIAGNOSTIC</span>
                    </h2>
                </div>
                <div layout="row" layout-align="space-between end">
                    <md-button
                        ng-click="vm.closeDialog()">
                        <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div layout="row" flex="100" layout-padding="" layout-wrap="">
            <div flex="100" flex-md="50" flex-gt-md="33" layout="column" ng-repeat="field in vm.meta">
                <md-content ng-if="field.section && field.kind==='field' || field.kind==='file'||field.kind==='image'||field.kind==='multiple'">
                    <md-icon ng-if="field.icon" md-font-icon="{{field.icon}}"></md-icon>
                    <b ng-if="field.section">{{field.section}}</b>
                    <b ng-if="!field.section">{{field.key}}</b>
                </md-content>
                <md-content ng-if="field.section && field.kind==='field'">
                    <span ng-if="vm.array[field.key]">{{vm.array[field.key]}}</span>
                </md-content>
                <div ng-if="field.kind==='multiple'" ng-repeat="item2 in vm.array[field.key] track by $index">
                    <span ng-if="item2">{{item2}}</span>
                    <span ng-if="!item2" translate="">GENERAL_SHOW_INFO.NO_ELEMENTS</span>
                </div>
                <md-content ng-if="field.kind==='file'" >
                    <a href="{{vm.array[field.key]}}" target="_blank" >
                        <md-icon md-font-icon="fas fa-download"></md-icon>
                        <span>{{field.section}}</span>
                        <md-icon md-font-icon="fas fa-download"></md-icon>
                    </a>
                </md-content>
                <md-content class="md-media-xl card-media"  ng-if="field.kind==='image'">
                    <img ng-src="{{vm.array[field.key]}}" class="md-card-image" alt="QR">
                </md-content>
                <md-content ng-if="field.kind===image">

                </md-content>
                <md-content flex="100" ng-if="field.section && field.kind==='object'">
                    <md-icon md-font-icon="{{field.icon}}"></md-icon>
                    <b ng-if="field.section">{{field.section}}</b>
                    <b ng-if="!field.section">{{field.key}}</b>
                    <div flex="100" ng-if="field.section && field.kind==='object'"
                         layout="column" ng-repeat="subfield in field.content">
                        <md-content ng-if="subfield.label && subfield.type==='field'||subfield.type==='multiple'">
                            <b ng-if="subfield.label">{{subfield.label}}</b>
                            <b ng-if="!subfield.label">{{subfield.key}}</b>
                        </md-content>
                        <md-content ng-if="subfield.type==='field'">
                            <span>{{vm.array[field.key][subfield.key]}}</span>
                        </md-content>
                        <div ng-if="subfield.type==='multiple'" ng-repeat="item in vm.array[field.key][subfield.key] track by $index">
                            <span>{{item}}</span>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</md-dialog>
