<md-card class="full-width" layout-padding layout="column" laoyut-align="center-stretch">
    <header layout="column" layout-align="center center">
        <h1 translate>DEPARTURES.LIST.TITLE</h1>
    </header>
    <div class="full-width" layout="column" layout-gt-xs="row" layout-align="center center"
        layout-align-gt-xs="space-around center">
        <md-input-containter layout-padding class="md-block">
            <label>{{'DEPARTURES.LIST.LABELS.START_DATE'|translate}}</label>
            <input type="text" ng-model="vm.startDate" mdc-datetime-picker="" time="false" date="true"
                min-date="minDate" max-date="maxDate" lang="es" ng-change="vm.startDateChange()" class=" md-input">
        </md-input-containter>
        <md-input-containter layout-padding class="md-block">
            <label>{{'DEPARTURES.LIST.LABELS.END_DATE'|translate}}</label>
            <input type="text" ng-model="vm.endDate" mdc-datetime-picker="" time="false" date="true"
                min-date="vm.startDate" max-date="maxDate" lang="es" ng-change="vm.endDateChange()" class=" md-input">
        </md-input-containter>
    </div>
    <div layout="row" layout-align="center center" ng-if="vm.showSelector">
        <p>{{'DEPARTURES.LIST.LABELS.SWITCH.LABEL'|translate}}</p>
        <md-switch ng-model="vm.departuresFromAgency" ng-change="vm.changeSwitch()">
            <!--<p ng-if="vm.entryFromAgency">{{'ENTRIES.NEW.LABELS.SWITCH.TRUE'|translate}}</p>
                    <p ng-if="!vm.entryFromAgency">{{'ENTRIES.NEW.LABELS.SWITCH.FALSE'|translate}}</p>-->
        </md-switch>
    </div>
    <div layout="column" layout-gt-xs="row" layout-align-gt-xs="space-around center" layout-align="center stretch">
        <catalog-select class="full-width" ng-if="(!vm.departuresFromAgency && vm.showSelector)||vm.subsidiaryAdmin"
            catalog="vm.catalogues['subsidiary'].catalog" hint="vm.catalogues['subsidiary'].hint" lazy="true"
            icon="vm.catalogues['subsidiary'].icon" required="vm.catalogues['subsidiary'].required"
            on-select="vm.onDestinationSelect(element,vm.catalogues['subsidiary'].binding)">
        </catalog-select>
        <catalog-select class="full-width" ng-if="(vm.departuresFromAgency && vm.showSelector)||vm.agencyAdmin"
            catalog="vm.catalogues['udn'].catalog" hint="vm.catalogues['udn'].hint" lazy="true"
            icon="vm.catalogues['udn'].icon" required="vm.catalogues['udn'].required"
            on-select="vm.onDestinationSelect(element,vm.catalogues['udn'].binding)">
        </catalog-select>
    </div>
    <div layout="row" layout-align="space-around center" layout-wrap="">
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'new-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('new-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.NEW</span>
            <div class="new-departures selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'salepoint-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('salepoint-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.SALEPOINT</span>
            <div class="salepoint-departures selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'obsolete-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('obsolete-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.OBSOLETE</span>
            <div class="obsolete-departures selectable-filter"></div>
        </div>
        <!--<div layout="column"
             layout-align="center center"
             layout-margin
             ng-class="(vm.departureKindFilter === 'unrecognizble-departures') ? 'SelectedList' : ''"
             ng-click="vm.filterChange('unrecognizable-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.UNRECOGNIZABLE</span>
            <div class="unrecognizable-departures selectable-filter"></div>
        </div>-->
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'warehouse-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('warehouse-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.WAREHOUSE</span>
            <div class="warehouse-departures selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'warranty-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('warranty-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.WARRANTY</span>
            <div class="warranty-departures selectable-filter"></div>
        </div>
        <div layout="column" layout-align="center center" layout-margin
            ng-class="(vm.departureKindFilter === 'all-departures') ? 'SelectedList' : ''"
            ng-click="vm.filterChange('all-departures')">
            <span translate>DEPARTURES.LIST.FILTERS.ALL</span>
            <div class="all-departures selectable-filter"></div>
        </div>
    </div>
    <div ng-if="vm.departures.length">
        <p>{{'DEPARTURES.LIST.LABELS.DEPARTURES_QUANTITY'|translate}} {{vm.departures.length}}</p>
        <p>{{'DEPARTURES.LIST.LABELS.TOTAL_ASSET_QUANTITY'|translate}} {{vm.assetsQuantity}}</p>
    </div>
</md-card>
<section
    cg-busy="{promise:vm.loadingDepartures, message:' ',  templateUrl:'app/mainApp/directives/loading.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
    <md-card ng-if="!vm.departures.length && vm.startDate && vm.departureKindFilter">
        <strong translate>DEPARTURES.LIST.LABELS.NO_RESULTS</strong>
    </md-card>
    <md-card ng-if="vm.departures.length" ng-click="vm.navigateToDetail(departure)"
        ng-repeat="departure in vm.departures">
        <md-toolbar layout-gt-xs="row" layout-align-gt-xs="space-between center" layout="column"
            layout-align="center center" layout-padding>
            <span>
                <strong translate="">DEPARTURES.LIST.LABELS.ID</strong>
                {{departure._id}}
            </span>
            <div ng-if="departure.tipo_salida==='Nuevos'" class="new-departures selectable-filter"></div>
            <div ng-if="departure.tipo_salida==='Obsoletos'" class="obsolete-departures selectable-filter"></div>
            <div ng-if="departure.tipo_salida==='No Capitalizados'" class="unrecognizable-departures selectable-filter">
            </div>
            <div ng-if="departure.tipo_salida==='Buen estado'" class="warehouse-departures selectable-filter"></div>
            <div ng-if="departure.tipo_salida==='Garantías'" class="warranty-departures selectable-filter"></div>
            <span>
                <strong translate="">DEPARTURES.LIST.LABELS.KIND</strong>
                {{departure.tipo_salida}}
            </span>
        </md-toolbar>
        <section layout="column" layout-align="center center">
            <span ng-if="departure.fecha_hora">
                <strong translate>DEPARTURES.LIST.LABELS.DATE</strong>
                <span>{{departure.fecha_hora | amDateFormat:'DD/MM/YYYY hh:mm:ss a'}}</span>
            </span>
            <!--Asset quantity section-->
            <section layout="row" layout-align="space-around center">
                <span flex ng-if="departure.cabinets" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.ASSET_QUANTITY</strong>
                    <span>{{departure.cabinets.length}}</span>
                </span>
            </section>
            <!--Transport section-->
            <section layout="row" layout-align="space-around center">
                <span flex="33" ng-if="departure.operador_transporte" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.DRIVER</strong>
                    <span>{{departure.operador_transporte.nombre}}</span>
                </span>
                <span flex="33" ng-if="departure.nombre_chofer" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.DRIVER</strong>
                    <span>{{departure.nombre_chofer}}</span>
                </span>
                <span flex="33" ng-if="departure.operador_transporte" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.TRANSPORT_LINE</strong>
                    <span>{{departure.operador_transporte.linea_transporte.razon_social}}</span>
                </span>
                <span flex="33" ng-if="departure.tipo_transporte" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.TRANSPORT_KIND</strong>
                    <span>{{departure.tipo_transporte.descripcion}}</span>
                </span>
            </section>
        </section>
        <section layout="row" layout-align="space-around center">
            <div>
                <!--Origin section-->
                <span ng-if="departure.udn_origen" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.ORIGIN_AGENCY</strong>
                    <span>{{departure.udn_origen.agencia}}</span>
                </span>
                <span ng-if="departure.sucursal_origen" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.ORIGIN_SUBSIDIARY</strong>
                    <span>{{departure.sucursal_origen.nombre}}</span>
                </span>
            </div>
            <div>
                <!--Destination section-->
                <span ng-if="departure.sucursal_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_SUBSIDIARY</strong>
                    <span>{{departure.sucursal_destino.nombre}}</span>
                </span>
                <span ng-if="departure.udn_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_AGENCY</strong>
                    <span>{{departure.udn_destino.agencia}}</span>
                </span>
                <span ng-if="departure.proveedor_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_PROVIDER</strong>
                    <span>{{departure.proveedor_destino.razon_social}}</span>
                </span>
                <span ng-if="departure.establecimiento_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_STORE</strong>
                    <span>{{departure.establecimiento_destino.nombre_establecimiento}}</span>
                </span>
            </div>
        </section>
        <span ng-if="departure.descripcion" layout-margin>
            <strong translate>DEPARTURES.LIST.LABELS.DESCRIPTION</strong>
            <span>{{departure.descripcion}}</span>
        </span>
        <md-actions layout="row" layout-align="end center">
            <!--Allow to generate the document just if the entry is closed-->
            <md-button aria-label="download document button" ng-click="$event.stopPropagation(); vm.generatePDF()"
                disabled class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-file-pdf"></md-icon>
                <span hide-xs>{{"DEPARTURES.LIST.BUTTONS.PDF"|translate}}</span>
            </md-button>
            <!--Allow to generate the excel document at anytime-->
            <md-button aria-label="download document button" cg-busy="{promise:vm.generateReportPromise, message:' '}"
                ng-click="$event.stopPropagation(); vm.generateXLSX(departure._id)" class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-file-excel"></md-icon>
                <span hide-xs>{{"DEPARTURES.LIST.BUTTONS.XLSX"|translate}}</span>
            </md-button>
        </md-actions>
    </md-card>
</section>
<section ng-if="vm.paginationHelper.totalPages>vm.paginationHelper.page" layout="column" layout-align="center center">
    <md-button aria-label="Load more elements button" cg-busy="{promise:vm.loadingMoreDepartures, message:' '}"
        ng-click="$event.stopPropagation(); vm.loadMore()" class="md-primary md-raised">
        <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
        <span hide-xs>{{"DEPARTURES.LIST.BUTTONS.LOAD_MORE"|translate}}</span>
    </md-button>
</section>