<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'MAIN.COMPONENTS.CABINET.LIST'|translate}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content
        layout="column"
        layout-align="center stretch"
        layout-padding
    >

        <div layout="row" layout-align="space-around center" layout-padding="">
            <form ng-submit="$ctrl.searchCabinet()" flex="80" class="md-block">
                <md-input-container
                    flex="80"
                    class="md-block">
                    <input
                        only-digits
                        placeholder="Búsqueda por económico"
                        ng-model="$ctrl.searchText">
                </md-input-container>
            </form>
        </div>

        <div ng-if="$ctrl.todos.length > 0">
            <md-list-item class="md-3-line" ng-repeat="item in $ctrl.todos" ng-click="$ctrl.info(item)">
                <img ng-src="{{item.qr_code}}" class="qr-icon" alt="{{item.economico}}" />
                <div class="md-list-item-text" layout="column">
                    <h2>Económico: {{ item.economico }}</h2>
                    <h3>Modelo: {{ item.modelo }}</h3>
                    <h4>Número de Serie: {{ item.no_serie }}</h4>
                    <p>Estado: {{ item.estado }}</p>
                </div>
            </md-list-item>
        </div>
        <div ng-if="$ctrl.todos.length == 0">
            <h3>NO HAY RESULTADOS</h3>
        </div>

    </md-content>
</div>
