<div flex="100">
    <md-toolbar flex="100" class="Subtitle">
        <div layout="row" layout-align="center center">
            <div flex="10" class="toolbarSubtitleIcon" layout="row" layout-align="center center">
                <md-icon md-font-icon="fab fa-free-code-camp"></md-icon>
            </div>
            <div flex="90" class="toolbarSubtitle" layout-padding="" layout-align="center center">
                <b translate="">FAILURES_COMPONENT.TITLE</b>
            </div>
        </div>
    </md-toolbar>
    <div layout=row layout-padding="" flex="100" layout="com" layout-align="center center">
        <md-input-container flex="50" layout-fill="">
            <catalog-select catalog="$ctrl.catalogues['failure_type'].catalog"
                            required="true"
                            noResults="$ctrl.catalogues['failure_type'].noResults"
                            pagination="$ctrl.catalogues['failure_type'].pagination"
                            elements="$ctrl.catalogues['failure_type'].elements"
                            soft-delete="$ctrl.catalogues['failure_type'].softDelete"
                            on-select="$ctrl.onSelectType(value)"
                            hint="$ctrl.catalogues['failure_type'].hint">
            </catalog-select>
        </md-input-container>
        <md-input-container ng-if="$ctrl.fallasCargadas" flex="50" layout-fill="">
            <catalog-select catalog="$ctrl.catalogues['failure'].catalog"
                            required="true"
                            lazy="true"
                            noResults="$ctrl.catalogues['failure'].noResults"
                            pagination="$ctrl.catalogues['failure'].pagination"
                            elements="$ctrl.catalogues['failure'].elements"
                            soft-delete="$ctrl.catalogues['failure'].softDelete"
                            on-select="$ctrl.addFailure(value)"
                            hint="$ctrl.catalogues['failure'].hint">
            </catalog-select>
        </md-input-container>

    </div>
    <md-list flex="100" layout="row" layout-wrap="" class="minorWhite">
        <md-list-item flex="50" ng-repeat="item in $ctrl.failures track by item.com_code" ng-click="$ctrl.deleteElement(item)">
            <div flex="20">
                <img ng-src="assets/images/repairSSSIR.png" class="imgList" alt="{{item.code}}"/>
            </div>
            <div flex="80" class="md-list-item-text" layout="row">
                <div layout="column" flex="90">
                    <h3>{{ item.com_code }}-{{item.descripcion}}</h3>
                    <h4>{{ item.clasificador_falla.nombre}}</h4>
                </div>
                <div flex="10">
                    <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="$ctrl.deleteElement(item)">
                        <md-icon md-font-icon="fas fa-times"></md-icon>
                        <md-tooltip><span translate="">FAILURES_COMPONENT.REMOVE</span></md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</div>

