<div layout="column">

    <md-card layout="column" layout-align="center center" layout-padding
             cg-busy="{promise:vm.personLoading,templateUrl:'app/mainApp/directives/loading_repeater.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
        <h3 translate>SALEPOINT_REQUEST.ASSIGN_DETAIL.PERSON</h3>
        <md-autocomplete md-input-name="persona"
                         md-no-cache="true"
                         flex="100"
                         ng-if="vm.salePoint.status=='Abierta' || vm.salePoint.status=='En_proceso'"
                         md-min-length="0"
                         md-selected-item="vm.assignedPerson"
                         md-selected-item-change="vm.selectedPersonChange()"
                         md-search-text="vm.personSearchText"
                         md-items="item in vm.searchPerson(item)"
                         md-item-text="'(' + item.user.username +') ' + item.nombre + ' ' + item.apellido_paterno + ' ' + item.apellido_materno"
                         md-floating-label="{{'SALEPOINT_REQUEST.ASSIGN_DETAIL.PERSON_ASSIGN'|translate}}"
                         md-menu-class="autocomplete-custom-template"
                         required>
            <md-item-template>
                <span class="item-title" title="{{item.nombre}}">
                    <md-icon md-font-icon="fa fa-id-card-o"></md-icon>
                    <span>
                        <b>{{item.user.username}}</b>
                    </span>
                </span>
                <span class="md-caption">
                    {{item.nombre}} {{item.apellido_paterno}} {{item.apellido_paterno}}
                </span>
            </md-item-template>
            <md-not-found>
                <span class="item-title">
                    <span>
                        {{'SALEPOINT_REQUEST.ASSIGN_DETAIL.NO_RESULTS'|translate}}: "{{vm.units.searchText}}"
                    </span>
                </span>
            </md-not-found>
        </md-autocomplete>

        <div layout="row"
             layout-align="end end"
             layout-sm="column"
             layout-xs="column"
             layout-align-sm="start stretch"
             layout-align-xs="start stretch">
            <md-button ng-if="vm.salePoint.status=='Abierta' || vm.salePoint.status=='En_proceso'"
                       aria-label="assign" ng-click="vm.assign()"
                       class="md-raised md-primary">
                <md-icon md-font-icon="fa fa-save"></md-icon>
            </md-button>
        </div>
    </md-card>
</div>
