<md-card class="full-width" layout-padding layout="column" laoyut-align="center-stretch">
    <header layout="column" layout-align="center center">
        <h1 translate>DEPARTURES.LIST.TITLE</h1>
    </header>
    <div layout="row" layout-align="center center" ng-if="vm.showSelector">
        <p>{{'DEPARTURES.WAREHOUSE.LABELS.SWITCH.LABEL'|translate}}</p>
        <md-switch ng-model="vm.departureFromAgency" ng-change="vm.changeSwitch()">
            <!--<p ng-if="vm.entryFromAgency">{{'DEPARTURES.WAREHOUSE.LABELS.SWITCH.TRUE'|translate}}</p>
                    <p ng-if="!vm.entryFromAgency">{{'DEPARTURES.WAREHOUSE.LABELS.SWITCH.FALSE'|translate}}</p>-->
        </md-switch>
    </div>
    <catalog-select class="full-width" ng-if="!vm.departureFromAgency && vm.showSelector" lock="vm.cabinetList.length>0"
        catalog="vm.catalogues['subsidiary'].catalog" hint="vm.catalogues['subsidiary'].hint"
        icon="vm.catalogues['subsidiary'].icon" required="vm.catalogues['subsidiary'].required"
        on-select="vm.onOriginSelect(element,vm.catalogues['subsidiary'].binding)">
    </catalog-select>
    <catalog-select class="full-width" ng-if="vm.departureFromAgency && vm.showSelector" lock="vm.cabinetList.length>0"
        catalog="vm.catalogues['udn'].catalog" hint="vm.catalogues['udn'].hint" icon="vm.catalogues['udn'].icon"
        required="vm.catalogues['udn'].required" on-select="vm.onOriginSelect(element,vm.catalogues['udn'].binding)">
    </catalog-select>
</md-card>
<section
    cg-busy="{promise:vm.loadingDepartures, message:' ',  templateUrl:'app/mainApp/directives/loading.tmpl.html',wrapperClass:'cg-busy cg-busy-animation'}">
    <md-card ng-if="!vm.departures.length">
        <strong translate>DEPARTURES.LIST.LABELS.NO_RESULTS</strong>
    </md-card>
    <md-card ng-if="vm.departures.length" ng-click="vm.navigateToDetail(departure)"
        ng-repeat="departure in vm.departures">
        <md-toolbar layout-gt-xs="row" layout-align-gt-xs="space-between center" layout="column"
            layout-align="center center" layout-padding>
            <span>
                <strong translate="">DEPARTURES.LIST.LABELS.ID</strong>
                {{departure.id}}
            </span>
            <div ng-if="departure.tipo_salida==='Nuevos'" class="new-departures departures-filter"></div>
            <div ng-if="departure.tipo_salida==='Obsoletos'" class="obsolete-departures departures-filter"></div>
            <div ng-if="departure.tipo_salida==='No_Capitalizados'" class="unrecognizable-departures departures-filter">
            </div>
            <div ng-if="departure.tipo_salida==='Almacen'" class="warehouse-departures departures-filter"></div>
            <div ng-if="departure.tipo_salida==='Garantias'" class="warranty-departures departures-filter"></div>
            <span>
                <strong translate="">DEPARTURES.LIST.LABELS.KIND</strong>
                {{departure.tipo_salida}}
            </span>
        </md-toolbar>
        <section layout="column" layout-align="center center">
            <span ng-if="departure.fecha">
                <strong translate>DEPARTURES.LIST.LABELS.DATE</strong>
                <span>{{departure.fecha | amDateFormat:'DD/MM/YYYY hh:mm:ss a'}}</span>
            </span>
            <span ng-if="departure.pedimento" layout-margin>
                <strong translate>DEPARTURES.LIST.LABELS.ORDER</strong>
                <span>{{departure.pedimento}}</span>
            </span>
            <!--Transport section-->
            <section layout="row" layout-align="space-around center">
                <span flex="33" ng-if="departure.nombre_chofer" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.DRIVER</strong>
                    <span>{{departure.nombre_chofer}}</span>
                </span>
                <span flex="33" ng-if="departure.linea_transporte.razon_social" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.TRANSPORT_LINE</strong>
                    <span>{{departure.linea_transporte.razon_social}}</span>
                </span>
                <span flex="33" ng-if="departure.tipo_transporte.descripcion" layout-padding>
                    <strong translate>DEPARTURES.LIST.LABELS.TRANSPORT_KIND</strong>
                    <span>{{departure.tipo_transporte.descripcion}}</span>
                </span>
            </section>
        </section>
        <section layout="row" layout-align="space-around center">
            <div>
                <!--Origin section-->
                <span ng-if="departure.udn_origen" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.ORIGIN_AGENCY</strong>
                    <span>{{departure.udn_origen.agencia}}</span>
                </span>
                <span ng-if="departure.sucursal_origen" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.ORIGIN_SUBSIDIARY</strong>
                    <span>{{departure.sucursal_origen.nombre}}</span>
                </span>
            </div>
            <div>
                <!--Destination section-->
                <span ng-if="departure.sucursal_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_SUBSIDIARY</strong>
                    <span>{{departure.sucursal_destino.nombre}}</span>
                </span>
                <span ng-if="departure.udn_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_AGENCY</strong>
                    <span>{{departure.udn_destino.agencia}}</span>
                </span>
                <span ng-if="departure.proveedor_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_PROVIDER</strong>
                    <span>{{departure.proveedor_destino.razon_social}}</span>
                </span>
                <span ng-if="departure.establecimiento_destino" layout-margin>
                    <strong translate>DEPARTURES.LIST.LABELS.DESTINATION_STORE</strong>
                    <span>{{departure.establecimiento_destino.nombre_establecimiento}}</span>
                </span>
            </div>
        </section>
        <span ng-if="departure.descripcion" layout-margin>
            <strong translate>DEPARTURES.LIST.LABELS.DESCRIPTION</strong>
            <span>{{departure.descripcion}}</span>
        </span>
        <md-actions layout="row" layout-align="end center">
            <md-button aria-label="download document button" ng-click="$event.stopPropagation(); vm.generatePDF()"
                disabled class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-file-pdf"></md-icon>
                <span hide-xs>{{"DEPARTURES.LIST.BUTTONS.PDF"|translate}}</span>
            </md-button>
        </md-actions>
    </md-card>
</section>
<section ng-if="vm.paginationHelper.totalPages>vm.paginationHelper.page" layout="column" layout-align="center center">
    <md-button aria-label="Load more elements button" cg-busy="{promise:vm.loadingMoreDepartures, message:' '}"
        ng-click="$event.stopPropagation(); vm.loadMore()" class="md-primary md-raised">
        <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
        <span hide-xs>{{"DEPARTURES.LIST.BUTTONS.LOAD_MORE"|translate}}</span>
    </md-button>
</section>