.changes-cabinet-container {
  min-height: 50vh;
  width: 100%;
  font-size: 14px;
}

.non-confirmed-cabinet {
  background-color: #FAA;
}

.confirmed-cabinet {
  background-color: #AFA;
}

.non-expected-cabinet {
  background-color: #FFA;
}

div.non-confirmed-changes {
  background-color: #A00;
}

div.confirmed-changes {
  background-color: #0A0;
}

div.all-changes {
  background-color: #FFF;
}
