<md-input-container flex
                    class="md-block full-width"
                    cg-busy="{ promise:$ctrl.listLoader, message:' ' }">

    <label ng-if="$ctrl.catalog.name">
        {{$ctrl.catalog.name}}
    </label>
    <label ng-if="!$ctrl.catalog.name">Catalog</label>
    <div layout="row">
        <md-icon ng-if="$ctrl.icon" class="{{$ctrl.icon}}"></md-icon>
        <md-select ng-model="$ctrl.selectedElement"
                   ng-if="$ctrl.multiple"
                   multiple
                   aria-label="{{$ctrl.selectedElement}}"
                   name="{{$ctrl.catalog.url}}"
                   class="full-width no-margin"
                   ng-required="$ctrl.required"
                   ng-disabled="{{$ctrl.lock}}"
                   md-on-open="$ctrl.onSelectOpen()"
                   md-on-close="$ctrl.onClose()">
            <md-option ng-if="$ctrl.catalogElements.length>0"
                       ng-repeat="element in $ctrl.catalogElements"
                       ng-value="element">
                <section ng-if="!$ctrl.catalog.showModel">
                    <section ng-if="$ctrl.catalog.option">
                        {{element[$ctrl.catalog.option]}}
                    </section>
                    <section ng-if="!$ctrl.catalog.option">
                        {{element[$ctrl.catalog.model]}}
                    </section>
                </section>
                <section ng-if="$ctrl.catalog.showModel">
                    <b>{{element[$ctrl.catalog.model]}}</b> - {{element[$ctrl.catalog.option]}}
                </section>
            </md-option>
            <md-option ng-if="!$ctrl.catalogElements.length>0">
                <span ng-if="$ctrl.noResults">{{$ctrl.noResults}}</span>
                <span ng-if="!$ctrl.noResults">No results</span>
            </md-option>
            <md-button cg-busy="{promise:$ctrl.loadMoreLoader, message:' ' }"
                       ng-if="$ctrl.paginationHelper['nextPage']"
                       ng-click="$ctrl.loadMore()"
                       aria-label="{{$ctrl.loadMoreButtonText}}"
                       class="md-primary md-raised">
                <div layout="row" layout-align="center center">
                    <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
                    <div ng-if="$ctrl.catalog.loadMoreButtonText" hide-xs>{{$ctrl.catalog.loadMoreButtonText}}</div>
                    <div ng-if="!$ctrl.catalog.loadMoreButtonText" hide-xs>Load more</div>
                </div>
            </md-button>
        </md-select>
        <md-select ng-model="$ctrl.selectedElement"
                   ng-if="!$ctrl.multiple"
                   aria-label="{{$ctrl.selectedElement}}"
                   name="{{$ctrl.catalog.url}}"
                   class="full-width no-margin"
                   ng-required="$ctrl.required"
                   ng-disabled="{{$ctrl.lock}}"
                   md-on-open="$ctrl.onSelectOpen()"
                   md-on-close="$ctrl.onClose()">
            <md-option ng-repeat="element in $ctrl.catalogElements"
                       ng-value="element">
                <section ng-if="!$ctrl.catalog.showModel">
                    <section ng-if="$ctrl.catalog.option">
                        {{element[$ctrl.catalog.option]}}
                    </section>
                    <section ng-if="!$ctrl.catalog.option">
                        {{element[$ctrl.catalog.model]}}
                    </section>
                </section>
                <section ng-if="$ctrl.catalog.showModel">
                    <b>{{element[$ctrl.catalog.model]}}</b> - {{element[$ctrl.catalog.option]}}
                </section>
            </md-option>
            <md-button cg-busy="{promise:$ctrl.loadMoreLoader, message:' ' }"
                       ng-if="$ctrl.paginationHelper['nextPage']"
                       ng-click="$ctrl.loadMore()"
                       aria-label="{{$ctrl.loadMoreButtonText}}"
                       class="md-primary md-raised">
                <div layout="row" layout-align="center center">
                    <md-icon md-font-icon="fa fa-chevron-down"></md-icon>
                    <div ng-if="$ctrl.catalog.loadMoreButtonText" hide-xs>{{$ctrl.catalog.loadMoreButtonText}}</div>
                    <div ng-if="!$ctrl.catalog.loadMoreButtonText" hide-xs>Load more</div>
                </div>
            </md-button>
        </md-select>
    </div>
    <div ng-if=$ctrl.hint class="hint">{{$ctrl.hint}}</div>
</md-input-container>

