<div>

    <md-card layout="column">
        <md-toolbar class="toolbar-default margin-bottom-30">
            <div class="md-toolbar-tools" layout-align="space-between center">
                <h2>
                    <span>{{vm.preRequest.id}}</span>
                </h2>
                <b>Económico: {{vm.preRequest.cabinet}}</b>
                <h2>
                    <span>{{vm.preRequest.fecha| moment:'DD/MM/YYYY hh:mm:ss'}}</span>
                </h2>

            </div>
        </md-toolbar>
        <div layout="row" layout-wrap="" layout-align="center center">
            <div ng-if="vm.photos.length>0" flex-gt-md=50 flex="100" layout-fill="" layout-padding="">
                <ng-image-gallery
                    images="vm.photos"
                    thumbnails="true"
                    thumb-size="80"
                    inline="true"
                    bubbles="true"
                    bubble-size="5"
                    img-bubbles="true"
                    bg-close="false"
                    piracy="false"
                    img-anim="fadeup"
                ></ng-image-gallery>
            </div>
            <div flex-gt-md="50" flex="100" layout-fill="" layout="column" layout-align="center center">

                <div layout-align="center center">
                    <span translate="">PREREQUEST_TRANSLATE.STORE_NAME</span> &nbsp; &nbsp;
                    <b translate="">{{vm.preRequest.establecimiento.nombre_establecimiento}}</b>
                </div>
                <div layout-gt-md="row" layout="column" layout-align="center center">&nbsp;
                    <b translate="">{{vm.preRequest.establecimiento.localidad.nombre}}</b>,&nbsp;
                    <b translate="">{{vm.preRequest.establecimiento.localidad.municipio.nombre}}</b>&nbsp;,
                    <b translate="">{{vm.preRequest.establecimiento.localidad.municipio.estado.nombre}}</b>&nbsp;
                </div>
                <div layout-gt-md="row" layout="column" layout-align="center center" layout-fill=""
                     layout-align="space-around center">
                    <div layout="row" flex-gt-md=50 flex="100" layout-fill="" layout-align="center center">
                        <span translate="">PREREQUEST_TRANSLATE.STREET</span> &nbsp; &nbsp;
                        <b translate="">{{vm.preRequest.establecimiento.calle}}</b>&nbsp;
                        <span translate="">PREREQUEST_TRANSLATE.NUMBER</span> &nbsp; &nbsp;
                        <b translate="">{{vm.preRequest.establecimiento.numero}}</b>&nbsp;
                    </div>
                    <div layout-gt-md="row" layout="column" flex-gt-md=50 flex="100" layout-fill=""
                         layout-align="space-around center">
                        <span translate="">PREREQUEST_TRANSLATE.STREET_NEAR</span> &nbsp; &nbsp;
                        <b translate="">{{vm.preRequest.establecimiento.entre_calle1}}</b>,&nbsp;
                        <span translate="">PREREQUEST_TRANSLATE.STREET_NEAR2</span> &nbsp; &nbsp;
                        <b translate="">{{vm.preRequest.establecimiento.entre_calle2}}</b>.&nbsp;
                    </div>
                </div>
                <div flex-gt-md="50" flex="100" layout-fill="" layout="column" layout-align="center center">
                    <h2 translate="">
                        PREREQUEST_TRANSLATE.TIME_SCHEDULING
                    </h2>
                    <div layout="column" layout-align="center center">
                        <div layout-align="center center">
                            <img src="assets/images/clock.png" class="avatar">
                        </div>
                        <div layout-align="end center" full-width>
                            <b>{{vm.preRequest.hora_cliente_inicio}}</b> &nbsp;- &nbsp;<b>{{vm.preRequest.hora_cliente_fin}}</b>
                        </div>
                    </div>
                </div>
                <div flex-gt-md="50" flex="100" layout-fill="" layout="column" layout-align="center center">

                    <div layout-align="end center" full-width>
                        <h3 translate="">PREREQUEST_TRANSLATE.OBSERVATIONS</h3> &nbsp;-
                        <span>{{vm.preRequest.observaciones_cliente}}</span>
                    </div>

                </div>
            </div>
        </div>
        <md-card-actions layout="row" layout-align="end center">
            <md-button aria-label="geolocate" ng-click="vm.showStoreLocation()" class="md-raised md-primary">
                <md-icon md-font-icon="fa fa-location-arrow"></md-icon>
                {{'MAIN.COMPONENTS.STORE_MANAGER.GEOLOCATION'|translate}}
            </md-button>
            <md-button aria-label="cancel" ng-click="vm.cancelPreRequest()" class="md-raised md-warn">
                <md-icon md-font-icon="zmdi zmdi-close-circle"></md-icon>
                {{'PREREQUEST_TRANSLATE.CANCEL_PREREQUEST'|translate}}
            </md-button>
            <md-button aria-label="send" ng-if="vm.showCabinet" ng-click="vm.createRequest()" class="md-raised md-primary">
                <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
                {{'PREREQUEST_TRANSLATE.CREATE_REQUEST'|translate}}
            </md-button>

        </md-card-actions>
    </md-card>
    <md-card ng-if="!vm.showCabinet">
        <div>
            <create-cabinet to-refresh="vm.aRefresh()"></create-cabinet>
        </div>
    </md-card>
    <md-card ng-if="!vm.showCabinet">
        <div>
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </md-card>
    <md-card ng-if="vm.showCabinet">
        <div id="list">
            <list-cabinet todosex="vm.cabinet" up="vm.aRefresh()" todosprev2="vm.todosprev"></list-cabinet>
        </div>
    </md-card>
</div>
