<div flex="100">
    <md-toolbar flex="100" class="Subtitle">
        <div layout="row" layout-align="center center">
            <div flex="10" class="toolbarSubtitleIcon" layout="row" layout-align="center center">
                <md-icon md-font-icon="fas fa-notes-medical"></md-icon>
            </div>
            <div flex="90" class="toolbarSubtitle" layout-padding=""  layout-align="center center">
                <b translate="">SYMTOMPS_COMPONENT.TITLE</b>
            </div>
        </div>
    </md-toolbar>
</div>
