<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'MAIN.COMPONENTS.CABINET.TITLE'|translate}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content
        layout="column"
        layout-align="center stretch"
        layout-padding
    >
        <form name="newcabinetFrom">
            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.ECONOMIC</label>
                    <input name="economico" required digits-only MAXLENGTH="20" ng-model="$ctrl.economico"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.SERIAL</label>
                    <input name="serial" maxlength="25"
                           ng-pattern="/^[a-zA-Z0-9]+$/" required ng-model="$ctrl.no_serie"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="pattern">
                            {{'MAIN.LABEL.ALFANUMERIC'|translate}}
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.YEAR</label>
                    <input name="economico" required digits-only MAXLENGTH="4" ng-model="$ctrl.year"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.CABINET.ACTIVE_UNILEVER</label>
                    <input name="serial" maxlength="25"
                           ng-pattern="/^[a-zA-Z0-9]+$/" required ng-model="$ctrl.id_unilever"/>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="pattern">
                            {{'MAIN.LABEL.ALFANUMERIC'|translate}}
                        </div>
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <catalog-select catalog="$ctrl.catalogues['marca'].catalog"
                                    required="true"
                                    pagination="$ctrl.catalogues['marca'].pagination"
                                    elements="$ctrl.catalogues['marca'].elements"
                                    soft-delete="$ctrl.catalogues['marca'].softDelete"
                                    on-select="$ctrl.onBrandSelect(element)">
                    </catalog-select>
                    <div ng-messages="newcabinetFrom.serial.$error">
                        <div ng-message="required">{{'MAIN.LABEL.REQUIRED'|translate}}</div>
                    </div>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <catalog-select ng-if="$ctrl.marca"
                                    catalog="$ctrl.catalogues['modelo_by_marca'].catalog"
                                    required="true"
                                    lazy="true"
                                    pagination="$ctrl.catalogues['modelo_by_marca'].pagination"
                                    elements="$ctrl.catalogues['modelo_by_marca'].elements"
                                    soft-delete="$ctrl.catalogues['modelo_by_marca'].softDelete"
                                    on-select="$ctrl.onElementSelect(element,'modelo_id')">
                    </catalog-select>
                </md-input-container>
            </div>

            <div flex layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
               <md-input-container flex class="md-block">
                    <catalog-select catalog="$ctrl.catalogues['condicion'].catalog"
                                    required="true"
                                    pagination="$ctrl.catalogues['condicion'].pagination"
                                    elements="$ctrl.catalogues['condicion'].elements"
                                    soft-delete="$ctrl.catalogues['condicion'].softDelete"
                                    on-select="$ctrl.onElementSelect(element,'condicion_id')">
                    </catalog-select>
                </md-input-container>

                <md-input-container flex class="md-block">
                    <catalog-select catalog="$ctrl.catalogues['status_unilever'].catalog"
                                    required="true"
                                    pagination="$ctrl.catalogues['status_unilever'].pagination"
                                    elements="$ctrl.catalogues['status_unilever'].elements"
                                    soft-delete="$ctrl.catalogues['status_unilever'].softDelete"
                                    on-select="$ctrl.onElementSelect(element,'status_unilever_id')">
                    </catalog-select>
                </md-input-container>
            </div>

            <div flex="50" layout="column" layout-gt-sm="row" layout-align-gt-sm="center stretch">
                <md-input-container flex class="md-block">
                    <catalog-select catalog="$ctrl.catalogues['status_com'].catalog"
                                    required="true"
                                    pagination="$ctrl.catalogues['status_com'].pagination"
                                    elements="$ctrl.catalogues['status_com'].elements"
                                    soft-delete="$ctrl.catalogues['status_com'].softDelete"
                                    on-select="$ctrl.onElementSelect(element,'status_com_id')">
                    </catalog-select>
                </md-input-container>
            </div>
        </form>

        <md-actions
            layout="row"
            layout-align="end center">
            <md-button
                ng-click="$ctrl.accept()"
                class="md-primary md-raised">
                <md-icon md-font-icon="fa fa-plus"></md-icon>
                {{'MAIN.COMPONENTS.CABINET.CREATE'|translate}}
            </md-button>
        </md-actions>
    </md-content>
</div>
