<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>{{'MAIN.COMPONENTS.STORE_MANAGER.CREDENTIAL'|translate}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cerrar()" aria-label="cancel">
            <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-card>
    <md-card-title>
        <md-card-title-media>
            <div width="50" height="50">
                <img  class="imgQR" ng-src="{{vm.urlQR}}" class="md-card-image" alt="QR">
            </div>
        </md-card-title-media>
    </md-card-title>
    <md-actions
        layout="row"
        layout-align="end center">
        <md-button ng-click="vm.download()" class="md-primary md-raised">
            <md-icon md-font-icon="fa fa-download"></md-icon>
            <a href="{{vm.urlQR}}" download="credential.png" target="_blank">{{'MAIN.BUTTONS.DOWNLOAD'|translate}}</a>
        </md-button>

        <md-button
            ng-click="vm.cerrar()"
            class="md-primary md-raised">
            <md-icon md-font-icon="fa fa-ban"></md-icon>
            {{'MAIN.BUTTONS.CANCEL'|translate}}
        </md-button>
    </md-actions>
</md-card>
