<md-dialog fullWidth>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'MAIN.COMPONENTS.STORE_MANAGER.MODALS.SEARCH.TITLE'|translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()" aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content
        layout="column"
        layout-align="center stretch"
        layout-padding
    >
        <md-tabs>
            <md-tab label="{{'MAIN.COMPONENTS.STORE_MANAGER.MODALS.SEARCH.BY_ADDRESS'|translate}}">
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.STORE_MANAGER.LABELS.STATE</label>
                    <md-select
                        ng-model="vm.state"
                        md-on-close="vm.selectState(city)"
                    >
                        <md-option
                            ng-repeat="state in vm.states"
                            ng-value="state.id"
                        >
                            {{state.nombre}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.STORE_MANAGER.LABELS.CITY</label>
                    <md-select
                        ng-model="vm.city"
                        md-on-open="vm.listCities(vm.state)"
                        md-on-close="vm.selectCity()"
                        ng-disabled="!vm.state"
                    >
                        <md-option
                            ng-repeat="city in vm.cities"
                            ng-value="city.id"
                        >
                            {{city.nombre}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex class="md-block">
                    <label translate>MAIN.COMPONENTS.STORE_MANAGER.LABELS.LOCALITY</label>
                    <md-select
                        ng-model="vm.locality"
                        md-on-open="vm.listLocalities(vm.city)"
                        ng-disabled="!vm.city"
                    >
                        <md-option
                            ng-repeat="locality in vm.localities"
                            ng-value="locality.id"
                        >
                            {{locality.nombre}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </md-tab>
            <md-tab label="{{'MAIN.COMPONENTS.STORE_MANAGER.MODALS.SEARCH.BY_POSTAL_CODE'|translate}}">

            </md-tab>
            <md-tab label="{{'MAIN.COMPONENTS.STORE_MANAGER.MODALS.SEARCH.BY_ECONOMIC'|translate}}">

            </md-tab>
        </md-tabs>
    </md-content>
</md-dialog>
