<div layout-fill="" class="minorWhite">
    <div layout="row" layout-fill>
        <div layout="row" layout-align="center center" flex="60" layout-padding="">

            <md-input-container>
                <md-checkbox ng-change="$ctrl.selectElement()" ng-model="$ctrl.use_asset" ng-disabled="$ctrl.notStock" >
                </md-checkbox>
            </md-input-container>

            <div>
                <md-icon md-font-icon="fas fa-cogs"></md-icon>
            </div>
            <div layout="column">
                <span class="md-body-2">{{$ctrl.bulkAsset.catalogo_insumo_lote.descripcion}}</span>
                <b class="md-caption">{{$ctrl.bulkAsset.catalogo_insumo_lote.modelo_insumo.descripcion}}</b>
                <span class="md-caption">{{$ctrl.bulkAsset.catalogo_insumo_lote.modelo_insumo.marca_descripcion}}</span>
            </div>
        </div>
        <div layout="column">
            <div layout="row" layout-align="center center" ng-click="$ctrl.validaMax($index)">
                <md-input-container>
                    <div range-spinner
                         range-min="1"
                         range-step="1"
                         range-max="100"
                         range-default-value="{{$ctrl.maxUseAccepted}}"
                         range-decimal-precision="1"
                         range-model="$ctrl.finalAssetBulk.cantidad"
                         accept-decimal="false"
                         name-of-field="{{$ctrl.bulkAsset.catalogo_insumo_lote.descripcion}}"
                         id-of-field="rangeFieldId">
                    </div>
                </md-input-container>
                <div ng-if="$ctrl.notStock">
                    <span translate="" class="RED">BULK_ASSET_COMPONENT.NOT_ENOUGHT_ASSET</span></h3>
                </div>
            </div>
            <div ng-if="$ctrl.maxUseAccepted<$ctrl.finalAssetBulk.cantidad">
                <span class="RED"> <b translate>MAIN.GENERAL.MAX </b><b>{{$ctrl.maxUseAccepted}}</b></span>
            </div>
        </div>

    </div>
</div>
