<div>
    <md-card
        layout="column"
        layout-gt-md="row"
        layout-align="space-around center">
        <md-icon md-svg-icon="assets/images/request.png" class="avatar"></md-icon>
        <div layout="column" >
            <div layout="row">
                <div layout="column" layout-align="center center">
                    <h4 translate>PREREQUEST_TRANSLATE.FOLIO</h4>
                </div>
                <div layout="column" layout-align="center center">
                    <h4 translate>:</h4>
                </div>
                <div layout="column" layout-align="center center">
                    <h4>{{$ctrl.preRequest.folio}}</h4>
                    <span>{{$ctrl.preRequest.fecha}}</span>
                </div>
            </div>
        </div>
        <div layout="column">

            <h2 translate="">PREREQUEST_TRANSLATE.STORE</h2>

            <h3>
                {{$ctrl.preRequest.establecimiento.nombre_establecimiento}}--{{$ctrl.preRequest.cabinet}}
            </h3>

            <b>
                {{$ctrl.preRequest.establecimiento.localidad.nombre}}-{{$ctrl.preRequest.establecimiento.localidad.codigo_postal}}
            </b>
        </div>
        <div layout="column" layout-align="center center" >
            <md-button aria-label="fab button"
                <md-icon md-font-icon="zmdi zmdi-accounts-list-alt"></md-icon>
            </md-button>
        </div>

    </md-card>
</div>
