<div  flex="100">
    {{$ctrl.preRequest}}
    <md-card
        flex="100"
        layout="column"
        layout-gt-md="row"
        layout-align="space-around center" layout-padding="">
        <img src="assets/images/request.png" class="avatar">
        <div layout="column" >
            <div layout="column">
                <div layout="row" layout-align="center center">
                    <h4 translate>PREREQUEST_TRANSLATE.FOLIO</h4>
                    <h4 translate>:</h4>
                    <h4>{{$ctrl.pre.id}}</h4>
                </div>

                    <div layout="column" layout-align="center center">
                    <span>{{$ctrl.pre.fecha| moment:'DD/MM/YYYY hh:mm:ss'}}</span>
                </div>
            </div>
        </div>
        <div layout="column">
            <b>
                {{$ctrl.pre.establecimiento.nombre_establecimiento}}--{{$ctrl.pre.cabinet}}
            </b>

            <b>
                {{$ctrl.pre.establecimiento.localidad.nombre}}-{{$ctrl.pre.establecimiento.localidad.codigo_postal}}
            </b>
        </div>
        <div layout="column" layout-align="center center" >
            <md-button aria-label="fab button"
                       class="md-raised md-primary">
                <md-icon md-font-icon="zmdi zmdi-open-in-new"></md-icon>
            </md-button>
        </div>

    </md-card>
</div>
